<template>
  <div id="AddBomDialog">
    <el-dialog
      title="添加BOM组别"
      :visible.sync="dialogFormVisible"
    >
      <el-form
        ref="BomFormRef"
        :model="addBomForm"
        :rules="addBomFormRules"
        label-width="100px"
      >
        <el-form-item
          label="组别编号"
          prop="bomTypeCode"
        >
          <el-input v-model="addBomForm.bomTypeCode" />
        </el-form-item>
        <el-form-item 
          label="组别名称"
          prop="bomTypeName"
        >
          <el-input v-model="addBomForm.bomTypeName" />
        </el-form-item>
      </el-form>
      <div
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click.native="dialogFormVisible = false">取消</el-button>
        <el-button
          type="primary"
          @click="addBomSubmit()"
          :loading="addBomLoading"
        >
          提交
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script src="./index.js"></script>
<style lang="less" src="./index.less" scoped></style>