@import "~styles/var.less";

.createPlanDialog {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  &-formitem {
    width: 290px;

    &-body {
      width: 200px;
    }
  }

  &-myAutocomplete {
    width: 200px;

    li {
      box-sizing: border-box;
      padding: 5px 20px;
      line-height: 20px;

      .employeeNo {
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: normal !important;
      }

      span {
        font-size: 12px;
        color: #b4b4b4;
      }

      .name {
        font-size: 12px;
        color: #b4b4b4;
      }
    }
  }

  &-table {
    width: 100%;

    &-column {
      text-align: center;
    }
  }

  &-datePicker {
    width: 155px;
  }

  &-select {
    width: 230px;
  }

  &-remark {
    width: 500px;

    &-input {
      width: 400px;
    }
  }
}
