<template>
  <div class="view-full createPlanDialog">
    <el-dialog
      title="新建任务"
      :visible.sync="dialogFormVisible"
      width="90%"
    >
      <el-form 
        :model="createForm" 
        :inline="true" 
        :rules="createFormRule" 
        ref="createForm"
      >
        <el-form-item 
          label="关联单号" 
          class="createPlanDialog-formitem" 
          prop="linkedOrder"
        >
          <el-input 
            class="createPlanDialog-formitem-body" 
            v-model="createForm.linkedOrder" 
            placeholder="请输入生产单号"
          />
        </el-form-item>
        <el-form-item 
          label="要求完工日期" 
          class="createPlanDialog-formitem" 
          prop="closingDate"
        >
          <el-date-picker
            class="createPlanDialog-datePicker"
            v-model="createForm.closingDate" 
            type="date"
            value-format="yyyy-MM-dd HH:mm:ss"
            placeholder="选择日期"
          />
        </el-form-item>
        <el-form-item 
          label="客户简称" 
          class="createPlanDialog-formitem" 
          prop="customerName"
        >
          <el-autocomplete  
            popper-class="createPlanDialog-myAutocomplete" 
            v-model="createForm.customerName"
            :fetch-suggestions="searchCustomerAsync"
            value-key="customerName"
            placeholder="请输入客户简称"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.customerCode }}</div>
              <span class="name">{{ item.customerName }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item 
          label="负责人" 
          class="createPlanDialog-formitem" 
          prop="principalEmployeeNo"
        >
          <el-autocomplete 
            popper-class="createPlanDialog-myAutocomplete" 
            v-model="createForm.principalEmployeeNo"
            :fetch-suggestions="querySearchAsync"
            value-key="employeeNo"
            placeholder="请输入任务负责人"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item 
          label="紧急程度" 
          class="createPlanDialog-formitem" 
          prop="emergencyLevel"
        >
          <el-select 
            class="createPlanDialog-formitem-body" 
            v-model="createForm.emergencyLevel" 
            placeholder="请选择"
          >
            <el-option 
              v-for="item in degree" 
              :key="item.value" 
              :label="item.label" 
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item 
          label="状况" 
          class="createPlanDialog-formitem" 
          prop="status"
        >
          <el-select 
            class="createPlan" 
            v-model="createForm.status" 
            placeholder="请选择"
          >
            <el-option 
              v-for="item in status" 
              :key="item.value" 
              :label="item.label" 
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        
        <el-form-item 
          label="审核人" 
          class="createPlanDialog-formitem" 
          prop="approvedEmployeeNo"
        >
          <el-autocomplete 
            popper-class="createPlanDialog-myAutocomplete" 
            v-model="createForm.approvedEmployeeNo"
            :fetch-suggestions="querySearchAsync"
            value-key="employeeNo"
            placeholder="请输入任务负责人"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item 
          label="来源" 
          class="createPlanDialog-formitem" 
          
          prop="source"
        >
          <el-input 
            v-model="createForm.source" 
            autocomplete="off"
          />
        </el-form-item>
        <el-form-item 
          label="备注" 
          class="createPlanDialog-remark"
          prop="remarks"
        >
          <el-input 
            class="createPlanDialog-remark-input" 
            v-model="createForm.remarks" 
            placeholder="请输入备注" 
            size=""
          />
        </el-form-item>
      </el-form>
      <!--成品-->
      <el-tabs type="border-card">
        <el-tab-pane label="成品">
          <el-table 
            :data="planProduction"
            class="createPlanDialog-table"
            stripe 
            border
            min-height="250"
            max-height="300"
            @selection-change="selectProduction"
          >
            <el-table-column 
              type="selection" 
              width="35"
            />
            <el-table-column 
              v-for="(item,index) in materialTabHeader" 
              :key="index"
              class="createPlanDialog-remark-column"
              :prop="item.key"
              :label="item.label"
            >
              <template slot-scope="scope">
                <template v-if="item.key=='materialNumber'">
                  <el-input 
                    v-model="scope.row[item.key]"   
                    @change="changeNumber"
                  />
                </template>
                <template v-else-if="item.key=='remark'">
                  <el-input v-model="scope.row[item.key]" />
                </template>
                <template v-else>
                  <span>{{ scope.row[item.key] }}</span>
                </template>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane disabled>
          <span slot="label">
            <el-button 
              size="mini" 
              plain 
              @click="openDialog('createProductionDialog')"
            >选择成品</el-button>
            <el-button 
              size="mini" 
              plain 
              @click="deleteProductionRows();"
            >删除选中</el-button>
          </span>
        </el-tab-pane> 
      </el-tabs>
      <!--原料-->
      <el-tabs type="border-card">
        <el-tab-pane label="原料">
          <el-table 
            :data="planMaterial"
            class="createPlanDialog-table"
            stripe 
            border
            min-height="250"
            max-height="300"
            @selection-change="selectMaterial"
          >
            <el-table-column 
              type="selection" 
              width="35"
            />
            <el-table-column 
              v-for="(item,index) in materialTabHeader" 
              :key="index"
              class="createPlanDialog-column"
              :prop="item.key"
              :label="item.label"
            >
              <template slot-scope="scope">
                <template v-if="item.key=='materialNumber'||item.key=='remark'">
                  <el-input v-model="scope.row[item.key]" />
                </template>
                <template v-else>
                  <span>{{ scope.row[item.key] }}</span>
                </template>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane disabled>
          <span slot="label">
            <el-button 
              size="mini" 
              plain 
              @click="openDialog('createMaterialDialog')"
            >选择物料</el-button>
            <el-button 
              size="mini" 
              plain 
              @click="deleteMaterialRows();"
            >删除选中</el-button>
            <el-popconfirm
              title="是否确定替换当前你选择的所有原料？"
              @onConfirm="analyzeBOM()"
            >
              <el-button 
                size="mini" 
                plain  
                slot="reference"
              >按BOM分析原材料</el-button>
            </el-popconfirm>
          </span>
        </el-tab-pane> 
      </el-tabs>
      <div 
        slot="footer" 
        class="dialog-footer"
      >
        <el-button @click="dialogFormVisible=false,reset('createForm')">取 消</el-button>
        <el-button @click="reset('createForm')">重 置</el-button>
        <el-button 
          type="primary" 
          @click="sendForm('createForm');"
        >
          确 定
        </el-button>
      </div>
      <SearchProductionDialog 
        ref="createProductionDialog" 
        @func="getProduction"
      />
      <SearchMaterialDialog 
        ref="createMaterialDialog" 
        @func="getSelectedMaterial"
      />
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
