@import "~styles/var.less";

/deep/ .el-table .success-row {
  background: #ecf6fd;
}

/deep/ .tableStyle {
  background-color: #398de0 !important;
  color: #fff;
  font-weight: 400;
  height: 50px;
}

.label {
  font-weight: bold;
}

.biaoge {
  width: 100%;
  margin-top: 20px;
}
