<template>
  <div d="sellouttimebook">
    <div class="label">销售出库序时簿</div>
    <el-table
      class="biaoge"
      ref="table"
      :data="bodies"
      border
      highlight-current-row
      size="mini"
      :height="tableHeight"
      :header-cell-class-name="headerStyle"
      :row-class-name="tableRowClassName"
      v-loading="loading"
    >
      <el-table-column
        v-for="(item,index) in headers"
        :key="index"
        :label="item.label"
        :prop="item.key"
        show-overflow-tooltip
        align="center"
      />
    </el-table>
    <div class="block">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page.currentPage"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="page.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.total"
      />
    </div>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
