<template>
  <div class="view-full showTaskDialog">
    <el-dialog 
      title="工序详情" 
      :visible.sync="dialogFormVisible" 
      width="1200px"
    >
      <el-form 
        :model="form" 
        ref="form" 
        :inline="true" 
        label-width="110px" 
        :rules="formRules"
      >
        <div>
          <el-form-item 
            label="计划单号" 
            class="showTaskDialog-formitem" 
            prop="productionPlanNo" 
          >
            <el-input 
              class="showTaskDialog-formitem-body" 
              v-model="form.productionPlanNo" 
              placeholder="请输入计划单号" 
              :disabled="true"
            />
          </el-form-item>
          <el-form-item 
            label="工序名称" 
            class="showTaskDialog-formitem" 
            prop="taskName"
          >
            <el-input 
              class="showTaskDialog-formitem-body" 
              v-model="form.taskName" 
              placeholder="请输入工序名称" 
              :disabled="true"
            />
          </el-form-item>
          <el-form-item 
            label="工序号" 
            class="showTaskDialog-formitem" 
            prop="taskNo" 
          >
            <el-input 
              class="showTaskDialog-formitem-body" 
              v-model="form.taskNo" 
              :disabled="true"
            />
          </el-form-item>
          <el-form-item 
            label="负责人" 
            class="showTaskDialog-formitem" 
            prop="operatorEmployeeNo"
          >
            <el-autocomplete 
              class="showTaskDialog-formitem-body" 
              v-model="form.operatorEmployeeNo"
              value-key="employeeNo"
              placeholder="请输入负责人"
              :disabled="true"
            >
              <template slot-scope="{ item }">
                <div class="employeeNo">{{ item.employeeNo }}</div>
                <span class="name">{{ item.name }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item 
            class="showTaskDialog-formitem" 
            label="状态:" 
            prop="state"
          >
            <el-select 
              class="showTaskDialog-formitem-body" 
              v-model="form.state" 
              placeholder="请选择状态" 
              :disabled="true"
            >
              <el-option 
                label="正常" 
                value="正常" 
              />
              <el-option 
                label="生产中" 
                value="生产中"
              />
              <el-option 
                label="已完成" 
                value="已完成"
              />
              <el-option 
                label="暂停" 
                value="暂停"
              />
              <el-option 
                label="撤销" 
                value="撤销"
              />
            </el-select>
          </el-form-item>
          <el-form-item 
            label="预计开始" 
            class="showTaskDialog-formitem" 
            prop="forecastStartDate"
          >
            <div class="block">
              <el-date-picker 
                class="showTaskDialog-datePicker"
                v-model="form.forecastStartDate" 
                type="date"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="选择日期" 
                :disabled="true"
              />
            </div>
          </el-form-item>
          <el-form-item 
            label="预计结束" 
            class="showTaskDialog-formitem" 
            prop="forecastEndDate"
          >
            <div class="block">
              <el-date-picker 
                class="showTaskDialog-datePicker"
                v-model="form.forecastEndDate" 
                type="date"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="选择日期" 
                :disabled="true"
              />
            </div>
          </el-form-item>
          <el-form-item 
            label="合格率" 
            class="showTaskDialog-formitem" 
            prop="passPercent" 
          >
            <el-input 
              class="showTaskDialog-formitem-body" 
              v-model="form.passPercent" 
              placeholder="请输入合格率" 
              :disabled="true"
            />
          </el-form-item>
          <el-form-item 
            label="备注" 
            class="showTaskDialog-formitem" 
            prop="remark"
          >
            <el-input 
              class="showTaskDialog-formitem-body" 
              v-model="form.remark" 
              placeholder="请输入备注" 
              :disabled="true"
            />
          </el-form-item>
          <!--成品-->
          <el-tabs type="border-card">
            <el-tab-pane label="成品">
              <el-table 
                :data="form.taskProductionVos"
                class="showTaskDialog-table"
                stripe 
                border
                min-height="250"
                max-height="300"
              >
                <el-table-column 
                  v-for="(item,index) in materialTabHeader" 
                  :key="index"
                  class="showTaskDialog-table-colum"
                  :prop="item.key"
                  :label="item.label"
                />
              </el-table>
            </el-tab-pane> 
          </el-tabs>

          <!--原料-->
          <el-tabs type="border-card">
            <el-tab-pane label="原料">
              <el-table 
                :data="form.taskMaterialVos"
                class="showTaskDialog-table"
                stripe 
                border
                min-height="250"
                max-height="300"
              >
                <el-table-column 
                  v-for="(item,index) in materialTabHeader" 
                  :key="index"
                  class="showTaskDialog-table-colum"
                  :prop="item.key"
                  :label="item.label"
                />
              </el-table>
            </el-tab-pane>
          </el-tabs>
        </div>
      </el-form>
      <div slot="footer">
        <el-button @click="dialogFormVisible=false">关 闭</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
