@import "~styles/var.less";

.home-top {
  &-menu {
    border-right: 1px solid #e6e6e6;
    width: 100%;
    align-items: center;
    flex-shrink: 0;

    & li:last-child {
      float: right;
    }
  }
}
