.box1 {
  width: 300px;
  margin-left: 16px;
}

.box2 {
  width: 180px;
}

.box3 {
  display: block;
  text-align: center;
}

.box3 button {
  width: 100px;
}

.part1 {
  width: 1000px;
  margin: 0 auto;
}

.employeeNo {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal !important;
}

.name {
  font-size: 12px;
  color: #b4b4b4;
}

.unitName {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal !important;
}

.unitCode {
  font-size: 11px;
  color: #b4b4b4;
}
