<template>
  <div>
    <el-table
      :data="tableData"
      style="width: 100%; margin-bottom: 20px;"
      :height="tableHeight"
      ref="table"
      v-loading="loading"
      @expand-change="open"
      :row-class-name="tableRowClassName"
      :header-cell-class-name="headerStyle"
    >
      <el-table-column type="expand">
        <template slot-scope="scope">
          <el-table
            :data="scope.row.hasChidren"
            style="width: calc(100% - 47px);"
            class=""
          >
            <el-table-column
              v-for="autoItem in sonHead"
              :prop="autoItem.key"
              :label="autoItem.label"
              :key="autoItem.key"
            />
          </el-table>
        </template>
      </el-table-column>
      <el-table-column
        v-for="item in tableHead"
        :prop="item.key"
        :label="item.label"
        :key="item.key"
      />
    </el-table>
    <!-- <el-table
    :data="tableData"
    style="width: 100%"
    row-key="id"
    border
    lazy
    :load="load"
    :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
    <el-table-column
      prop="date"
      label="日期"
      width="180">
    </el-table-column>
    <el-table-column
      prop="name"
      label="姓名"
      width="180">
    </el-table-column>
    <el-table-column
      prop="address"
      label="地址">
    </el-table-column>
  </el-table> -->
    <div class="block">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page.currentPage"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="page.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.total"
      />
    </div>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>