<template>
  <div class="view-full billexamine">
    <el-container>
      <el-aside width="200px">
        <el-menu
          class="el-menu-demo"
          @select="handleSelect"
          :default-openeds="['1']"
          default-active="1-0"
        >
          <el-submenu index="1">
            <template slot="title"><i class="el-icon-menu" />单据审核</template>
            <el-menu-item-group>
              <el-menu-item
                v-for="(item,index) in examineBillNavArr"
                :key="index"
                :index="'1-'+index"
              >
                {{ item }}
              </el-menu-item>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </el-aside>
      <el-main>
        <billexamined
          v-show="billexaminedflag"
          ref="mychild"
        />
        <billnotexamine v-show="billnotexamineflag" />
      </el-main>
    </el-container>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
