<template>
  <div>
    <el-dialog
      title="角色分配"
      :visible.sync="dialogVisible"
      width="45%"
      :before-close="handleClose"
    >
      <el-transfer
        v-model="value"
        v-loading="loading"
        :data="data"
        :props="{
          key: 'id',
          label: 'describe',
        }"
        :titles="['未赋角色', '已有权限']"
        @change="handleChange"
      />
      <span
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="dialogVisible = false"
        >确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
