<template>
  <div>
    <el-dialog
      title="编辑菜单"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose"
    >
      <el-form
        :rules="rules"
        ref="form" 
        :model="form" 
        label-width="80px"
      >
        <el-form-item 
          label="菜单名:"
          prop="name"
        >
          <el-input
            v-model="form.name"
          />
        </el-form-item>
        <el-form-item label="菜单描述">
          <el-input 
            v-model="form.menuDescribe"
            type="textarea"
          />
        </el-form-item>
        <el-form-item 
          label="路径:"
          prop="path"
        >
          <el-input
            v-model="form.path"
          />
        </el-form-item>   
      </el-form>
      <span 
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="onSubmit"
        >确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
