<template>
  <div>
    <el-dialog
      title="添加物料种类"
      :visible.sync="dialogVisible"
      width="30%"
    >
      <!-- 信息 -->
      <el-form
        ref="warehouseMaterialTypeDtoRef"
        :model="warehouseMaterialTypeDto"
        label-width="100px"
      >
        <el-form-item label="物料种类代码">
          <el-input v-model="warehouseMaterialTypeDto.materialTypeCode" />
        </el-form-item>
        <el-form-item label="物料种类名">
          <el-input v-model="warehouseMaterialTypeDto.materialTypeName" />
        </el-form-item>
        <el-form-item label="备注">
          <el-input v-model="warehouseMaterialTypeDto.materialTypeRemark" />
        </el-form-item>
      </el-form>
      <!-- 脚 -->
      <span
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="addMaterialType"
        >确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
