<template>
  <div>
    <el-dialog
      title="新增角色"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose"
    >
      <el-form 
        ref="form" 
        :model="form" 
        label-width="80px"
      >
        <el-form-item label="角色名称:">
          <el-input
            v-model="form.name"
          />
        </el-form-item>
        <el-form-item label="角色描述">
          <el-input 
            type="textarea"
            v-model="form.describe"
          />
        </el-form-item>
      </el-form>
      <span 
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="addRole(),dialogVisible = false"
        >确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
