<template>
  <div class="view-full employee-role">
    <div style="float: left;">
      <el-autocomplete
        v-model="state"
        :fetch-suggestions="querySearchAsync"
        placeholder="输入搜索内容"
        @select="handleSelect"
        value-key="name"
      >
        <template slot-scope="{ item }">
          <div class="name">{{ item.name }}</div>
        </template>
      </el-autocomplete>
      <el-button @click="fresh()">搜索</el-button>
      <el-button
        type="primary"
        @click="openDialog('addPower')"
      >
        新增权限
      </el-button>
      <!-- <el-button type="primary">批量导入权限</el-button> -->
    </div>
    <el-table
      :data="tableData"
      style="width: 100%;"
      v-loading="loading"
    >
      <el-table-column
        v-for="(item,index) in tableHead"
        :key="index"
        :prop="item.props"
        :label="item.describe"
      />
      <!-- <el-table-column
        label="是否默认拥有是否显示"
      >
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.default"
            @click="handleClick(scope.row)"
            active-color="#13ce66"
            inactive-color="#ff4949"
          />
        </template>
      </el-table-column> -->
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            @click="openDialog('editPower',scope.row)"
          >
            编辑
          </el-button>
          <el-button
            size="mini"
            type="danger"
            @click="openDeleteDialog(scope.row)"
          >
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div 
      class="block"
      style="float: left;"
    >
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page.currentPage"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="page.size"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.total"
      />
    </div>
    <AddPower ref="addPower" />
    <EditPower ref="editPower" />
    <DeleteDepartment ref="deleteDepartment" />
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
