@text-color: #323233;
@white: #ffffff;
@black: #000000;
@primary-color: #ffffff;
@link-color:#1989fa;

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #37aefd !important;
  color: white;
}
