<template>
  <div class="view-full purchase">
    <div class="purchase-left">
      <div class="purchase-left-item">
        <a
          href="javascript:;"
        >
          <img
            src="@/assets/purchasePhoto/采购订单.png"
            alt
          >
        </a>
        <br>
        <span>采购订单</span>
      </div>
      <div class="purchase-center decoration">
        <img
          src="@/assets/purchasePhoto/长箭头.png"
          alt
        ><br>
      </div>
      <div class="purchase-left-item">
        <a
          href="javascript:;"
        ><img
          src="@/assets/purchasePhoto/采购入库.png"
          alt
        ></a><br><span>采购入库</span>
      </div>
      <div class="purchase-center decoration">
        <img
          src="@/assets/purchasePhoto/长箭头.png"
          alt
        >
      </div>
      <div class="purchase-left-item">
        <a
          href="javascript:;"
        ><img
          src="@/assets/purchasePhoto/采购发票.png"
          alt
        ><br></a><span>采购发票</span><br>
      </div>
    </div>
    <el-aside 
      class="app-side app-side-left material" 
      width="270px"
    >
      <el-menu 
        :default-active="activeName" 
        class="el-menu-demo" 
        @select="addTab"
      >
        <el-tabs type="border-card">
          <el-tab-pane>
            <span slot="label"><i class="el-icon-date" /> 物料状态</span>
            <el-menu-item-group>
              <el-menu-item
                v-for="(item,index) in $tabMenu.slice(6,9)"
                :key="index"
                :index="item.name"
              >
                <i class="el-icon-document" />
                {{ item.describe }}
              </el-menu-item>
            </el-menu-item-group>
          </el-tab-pane>
        </el-tabs>
      </el-menu>
    </el-aside>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
