@import "~styles/var.less";

.examine {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#material img {
  width: 60px;
}

#material div {
  margin: 100px;
  float: left;
  text-align: center;
}

#material {
  margin: auto;
}
