<template>
  <div class="view-full examine">
    <el-container class="container">
      <div id="material">
        <div>
          <a href="javascript:;"><img
            @click="addTab('bill-examine')"
            src="@/assets/审核.png"
            alt
          ><br></a><span>单据审核</span>
        </div>
        <div>
          <a href="javascript:;"><img
            @click="addTab('bom-examine')"
            src="@/assets/审核.png"
            alt
          ><br></a><span>bom审核</span>
        </div>
        <div>
          <a href="javascript:;"><img
            @click="addTab('plan-examine')"
            src="@/assets/审核.png"
            alt
          ><br></a><span>任务审核</span>
        </div>
      </div>
    </el-container>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
