<template>
  <div class="no-route view-full flex-center flex-column">
    <p>404</p>
    <p
      class="link"
      @click.stop="backHome"
    >
      返回首页
    </p>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
