@import "~styles/var.less";

.createPublishTaskDialog {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  &-formitem {
    width: 300px;
    margin-left: 16px;

    &-body {
      width: 180px;
    }
  }

  &-table {
    width: 100%;

    &-column {
      text-align: center;
    }
  }
}
