<template>
  <div class="view-full createPublishTaskDialog">
    <el-dialog 
      title="创建工序"
      :visible.sync="dialogFormVisible" 
      width="90%"
    >
      <el-form 
        :model="form" 
        ref="form" 
        :inline="true" 
        label-width="110px" 
        :rules="formRules"
      >
        <div>
          <el-form-item 
            label="工序名称" 
            class="createPublishTaskDialog-formitem"
            prop="taskName"
          >
            <el-input 
              class="createPublishTaskDialog-formitem-body" 
              v-model="form.taskName" 
              placeholder="请输入工序名称" 
            />
          </el-form-item> 
          <el-form-item 
            label="合格率" 
            class="createPublishTaskDialog-formitem" 
            prop="passPercent"
          >
            <el-input 
              class="createPublishTaskDialog-formitem-body" 
              v-model="form.passPercent" 
              placeholder="请输入合格率" 
            />
          </el-form-item>
          <!-- <el-form-item label="负责人" class="box1" prop="operatorEmployeeNo">
            <el-autocomplete class="box2" v-model="form.operatorEmployeeNo"
                            :fetch-suggestions="querySearchAsync"
                            value-key="employeeNo"
                            placeholder="请输入负责人">
              <template slot-scope="{ item }">
                <div class="employeeNo">{{ item.employeeNo }}</div>
                <span class="name">{{ item.name }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item label="预计开始" class="box1" prop="forecastStartDate">
            <div class="block">
              <el-date-picker style="width:180px" v-model="form.forecastStartDate" type="date"
                              value-format="yyyy-MM-dd HH:mm:ss"
                              placeholder="选择日期"></el-date-picker>
            </div>
          </el-form-item>
          <el-form-item label="预计结束" class="box1" prop="forecastEndDate">
            <div class="block">
              <el-date-picker style="width:180px" v-model="form.forecastEndDate" type="date"
                              value-format="yyyy-MM-dd HH:mm:ss"
                              placeholder="选择日期"></el-date-picker>
            </div>
          </el-form-item> --> 
          <el-form-item 
            label="备注" 
            class="createPublishTaskDialog-formitem" 
            prop="remark"
          >
            <el-input 
              class="createPublishTaskDialog-formitem-body" 
              v-model="form.remark" 
              placeholder="请输入备注"
            />
          </el-form-item> 
          <!--成品-->
          <el-tabs type="border-card">
            <el-tab-pane label="成品">
              <el-table 
                :data="taskProduction"
                class="createPublishTaskDialog-table"
                stripe 
                border
                min-height="250"
                max-height="300"
                @selection-change="selectProduction"
              >
                <el-table-column 
                  type="selection" 
                  width="35"
                />
                <el-table-column 
                  v-for="(item,index) in materialTabHeader" 
                  :key="index"
                  class="createPublishTaskDialog-table-column"
                  :prop="item.key"
                  :label="item.label"
                >
                  <template slot-scope="scope">
                    <template v-if="item.key=='materialNumber'||item.key=='remark'">
                      <el-input 
                        v-model="scope.row[item.key]" 
                        @change="changeNumber"
                      />
                    </template>
                    <template v-else>
                      <span>{{ scope.row[item.key] }}</span>
                    </template>
                  </template>
                </el-table-column>
              </el-table>
            </el-tab-pane>
            <el-tab-pane disabled>
              <span slot="label">
                <el-button 
                  size="mini" 
                  plain 
                  @click="openDialog('createProductionDialog')"
                >选择成品</el-button>
                <el-button 
                  size="mini" 
                  plain 
                  @click="deleteProductionRows();"
                >删除选中</el-button>
              </span>
            </el-tab-pane> 
          </el-tabs>

          <!--原料-->
          <el-tabs type="border-card">
            <el-tab-pane label="原料">
              <el-table 
                :data="taskMaterial"
                class="createPublishTaskDialog-table"
                stripe 
                border
                min-height="250"
                max-height="300"
                @selection-change="selectMaterial"
              >
                <el-table-column 
                  type="selection" 
                  width="35"
                />
                <el-table-column 
                  v-for="(item,index) in materialTabHeader" 
                  :key="index"
                  class="createPublishTaskDialog-table-column"
                  :prop="item.key"
                  :label="item.label"
                >
                  <template slot-scope="scope">
                    <template v-if="item.key=='materialNumber'||item.key=='remark'">
                      <el-input v-model="scope.row[item.key]" />
                    </template>
                    <template v-else>
                      <span>{{ scope.row[item.key] }}</span>
                    </template>
                  </template>
                </el-table-column>
              </el-table>
            </el-tab-pane>
            <el-tab-pane disabled>
              <span slot="label">
                <el-button 
                  size="mini" 
                  plain 
                  @click="openDialog('createMaterialDialog')"
                >选择物料</el-button>
                <el-button 
                  size="mini" 
                  plain 
                  @click="deleteMaterialRows();"
                >删除选中</el-button>
                <el-popconfirm
                  title="是否确定替换当前你选择的所有原料？"
                  @onConfirm="analyzeBOM()"
                >
                  <el-button 
                    size="mini" 
                    plain  
                    slot="reference"
                  >按BOM分析</el-button>
                </el-popconfirm>
              </span>
            </el-tab-pane> 
          </el-tabs>
        </div>
      </el-form>
      <div 
        slot="footer" 
        class="dialog-footer"
      >
        <el-button @click="dialogFormVisible=false,reset('form')">取 消</el-button>
        <el-button @click="reset('form')">重 置</el-button>
        <el-button 
          type="primary" 
          @click="sendForm('form');"
        >
          确 定
        </el-button>
      </div>
    </el-dialog>
    <SearchMaterialDialog 
      ref="createMaterialDialog" 
      @func="getSelectedMaterial"
    />
    <SearchProductionDialog 
      ref="createProductionDialog" 
      @func="getProduction"
    />
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
