<template>
  <div class="view-full billexamined">
    <el-tabs type="border-card">
      <el-tab-pane label="审核通过">
        <el-table
          :data="bodies" 
          size="mini" 
          highlight-current-row  
          stripe 
          border 
          min-height="250" 
          max-height="400"
          v-loading="loading"  
          @row-dblclick="rowClick"
        >
          <el-table-column 
            v-for="(item,index) in headers"  
            :key="index" 
            align="center"  
            :prop="item.key"  
            :label="item.label"
          />
        </el-table>
        <div class="block">
          <el-pagination 
            @size-change="handleSizeChange" 
            @current-change="handleCurrentChange"
            :current-page="page.currentPage" 
            :page-sizes="[10, 20, 30, 40]" 
            :page-size="page.pageSize"
            layout="total, sizes, prev, pager, next, jumper" 
            :total="page.total"
          />
        </div>  
      </el-tab-pane>
    </el-tabs>
    <div>
      <showinstockother
        ref="showinstockother"
        @func="getDate();"
      />
      <showinstockproduct
        ref="showinstockproduct"
        @func="getDate();"
      />
      <showinstockprofits
        ref="showinstockprofits"
        @func="getDate();"
      />
      <showinstockpurchase
        ref="showinstockpurchase"
        @func="getDate();"
      />  
      <showoutstockdraw
        ref="showoutstockdraw"
        @func="getDate();"
      />
      <showoutstockloss
        ref="showoutstockloss"
        @func="getDate();"
      />
      <showoutstockother
        ref="showoutstockother"
        @func="getDate();"
      />
      <showoutstocksale
        ref="showoutstocksale"
        @func="getDate();"
      /> 
    </div>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
