<template>
  <el-dialog
    title="批量添加物料 ---未完善---notify"
    :visible.sync="dialogVisible"
    :show-close="false"
    width="500px"
    top="10%"
  >
    <el-form :model="form">
      <el-form-item
        label="上传文件："
        :label-width="formLabelWidth"
      >
        <el-upload
          ref="uploadExcel"
          :action="getFileUrl"
          :limit="1"
          :auto-upload="false"
          accept=".xlsx"
          :before-upload="beforeUploadFile"
          :http-request="httpRequest"
          :on-change="fileChange"
          :on-exceed="exceedFile"
          :on-success="handleSuccess"
          :on-error="handleError"
          :file-list="fileList"
        >
          <el-button
            size="small"
            plain
          >
            选择文件
          </el-button>
        </el-upload>
      </el-form-item>
    </el-form>
    <div
      slot="footer"
      class="dialog-footer"
    >
      <el-button
        size="small"
        type="primary"
        @click="uploadFile"
      >
        立即上传
      </el-button>
      <el-button
        size="small"
        type="primary"
        @click="getTemplate()"
      >
        下载模板
      </el-button>
      <el-button
        size="small"
        @click="dialogVisible = false"
      >
        取消
      </el-button>
    </div>
  </el-dialog>
</template>

<script>
// import BaseUrl from "../../../../../api/url";
// //import { http, apiPath } from "@/api";
// export default {
//   data() {
//     return {
//       getFileUrl:BaseUrl + apiPath.materialPage.addBatchMaterial,
//       //   headers: {
//       //     Accept: "*",
//       //     Authorization: this.$cookies.get("Authorization")
//       //   },
//       dialogVisible: false,
//       limitNum: 1,
//       formLabelWidth: "90px",
//       form: {
//         file: "",
//       },
//       fileList: [],
//       time: 1,
//     };
//   },
//   methods: {
//     //调用toggle打开窗口
//     toggle(selectType) {
//       this.dialogVisible = true;
//     },
//     // 文件超出个数限制时的钩子
//     exceedFile(files, fileList) {
//       this.$notify.warning({
//         title: "警告",
//         message: `只能选择 ${this.limitNum} 个文件，当前共选择了 ${
//           files.length + fileList.length
//         } 个`,
//       });
//     },
//     // 文件状态改变时的钩子
//     fileChange(file, fileList) {
//       this.form.file = file.raw;
//     },
//     // 上传文件之前的钩子, 参数为上传的文件,若返回 false 或者返回 Promise 且被 reject，则停止上传
//     beforeUploadFile(file) {
//       let extension = file.name.substring(file.name.lastIndexOf(".") + 1);
//       let size = file.size / 1024 / 1024;
//       if (extension !== "xlsx") {
//         this.$notify.warning({
//           title: "警告",
//           message: `只能上传Excel2017（即后缀是.xlsx）的文件`,
//         });
//       }
//       if (size > 10) {
//         this.$notify.warning({
//           title: "警告",
//           message: `文件大小不得超过10M`,
//         });
//       }
//     },
//     // 文件上传成功时的钩子
//     handleSuccess(res, file, fileList) {
//       this.$notify.success({
//         title: "成功",
//         message: `文件上传成功`,
//       });
//       this.time = 1;
//     },
//     // 文件上传失败时的钩子
//     handleError(err, file, fileList) {
//       this.$notify.error({
//         title: "错误",
//         message: `文件上传失败`,
//       });
//     },
//     //点击上传
//     uploadFile() {
//       this.$refs.uploadExcel.submit();
//     },
//     //接收模板
//     async getTemplate() {
//       let data = await this.$axios.get(
//         this.$interface.MaterialPage.downloadExcelTemplate,
//         { responseType: "blob" }
//       );
//       if (!data) {
//         this.$Message.error("下载内容为空");
//         return;
//       }
//       let url = window.URL.createObjectURL(new Blob([data.data]));
//       let link = document.createElement("a");
//       link.style.display = "none";
//       link.href = url;
//       link.setAttribute("download", "物料资料模板" + ".xlsx");
//       document.body.appendChild(link);
//       link.click();
//       //释放URL对象所占资源
//       window.URL.revokeObjectURL(url);
//       //用完即删
//       document.body.removeChild(link);
//     },
//     //自定义发起请求
//     async httpRequest(params) {
//       if (this.time > 1) return;
//       this.time = 2;
//       const FormData = require("form-data");
//       let fd = new FormData();
//       fd.append("file", params.file);
//       fd.append("FileName", params.file.name);
//       fd.append("user", "张三");
//       let data = await this.$axios.post(
//         this.$interface.MaterialPage.addListByExcelFile,
//         fd,
//         { responseType: "blob" }
//       );
//       console.log(data);
//       let url = window.URL.createObjectURL(new Blob([data.data]));
//       let link = document.createElement("a");
//       link.style.display = "none";
//       link.href = url;
//       link.setAttribute("download", "失败项" + ".xlsx");
//       document.body.appendChild(link);
//       link.click();
//       //释放URL对象所占资源
//       window.URL.revokeObjectURL(url);
//       //用完即删
//       document.body.removeChild(link);
//     },
//   },
// };
</script>