@import "~styles/var.less";

.planexamine {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  background-color: #d3dce6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.total {
  font-size: 12px;
  text-align: center;
}

.el-table {
  width: 100%;
}

.el-table-column {
  text-align: center;
}

.el-pagination {
  margin-top: 20px;
}
