<template>
  <div class="view-full planexamine">
    <el-container>
      <!-- 左侧边栏菜单 -->
      <el-aside
        width="200px"
      >
        <el-menu
          :default-openeds="['1']"
          @select="examinePlanHandleSelect"
          default-active="我的待审核"
        >
          <el-submenu index="1">
            <template slot="title">
              <i class="el-icon-menu" />生产审核状态
            </template>
            <el-menu-item-group>
              <el-menu-item
                v-for="(item,index) in examinePlanNavArr"
                :index="item"
                :key="index"
              >
                {{ item }}
              </el-menu-item>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </el-aside>
      <el-container>
        <el-main>
          <el-header v-if="selectExaminePlanType==='我的待审核'">
            <el-button
              @click="examine('审核通过')"
              type="primary"
              plain
            >
              通过
            </el-button>
            <el-button
              @click="examine('被驳回')"
              type="primary"
              plain
            >
              驳回
            </el-button>
          </el-header>
          <el-tabs type="border-card">
            <!--任务表格框-->
            <el-tab-pane :label="selectExaminePlanType">
              <!--任务表格-->
              <el-table
                :data="examinePlanList"
                size="mini"
                highlight-current-row
                stripe
                border
                @row-dblclick="showplandialog"
                @click="selectExaminePlan"
                @selection-change="selectExaminePlans"
                min-height="250"
                max-height="400"
                v-loading="examinePlanListLoading"
              >
                <el-table-column
                  v-if="selectExaminePlanType==='我的待审核'"
                  type="selection"
                  width="35"
                />
                <el-table-column
                  v-for="(item,index) in examinePlanTableFiled"
                  :key="index"
                  :prop="item.key"
                  :label="item.label"
                />
              </el-table>
              <!--表格分页-->
              <div class="block">
                <el-pagination
                  @size-change="examinePlanPageSizeChange"
                  @current-change="examinePlanPageCurrentChange"
                  :current-page="examinePlanPageInfo.currentPage"
                  :page-sizes="[10, 20, 30, 40]"
                  :page-size="examinePlanPageInfo.pageSize"
                  layout="total, sizes, prev, pager, next, jumper"
                  :total="examinePlanPageInfo.total"
                />
              </div>
            </el-tab-pane>
          </el-tabs>

          <!--工序表格框-->
          <el-divider>工序列表</el-divider>
          <el-tabs type="border-card">
            <el-tab-pane label="工序信息">
              <!--工序表格-->
              <el-table
                :data="examineTaskList"
                size="mini"
                min-height="250"
                max-height="400"
                v-loading="examineTaskListLoading"
              >
                <el-table-column
                  v-for="(item,index) in examineTaskTableFiled"
                  :key="index"
                  :prop="item.key"
                  :label="item.label"
                />
              </el-table>
              <div class="block">
                <span class="total">共{{ examineTaskPageInfo.total }}条</span>
              </div>
            </el-tab-pane>
            <el-tab-pane label="成品信息">成品信息</el-tab-pane>
            <el-tab-pane label="半成品">半成品</el-tab-pane>
            <el-tab-pane label="原料信息">原料信息</el-tab-pane>
            <el-tab-pane label="出入库明细">出入库明细</el-tab-pane>
          </el-tabs>
          <showplandialog ref="showplandialog" />
          <resultdialog ref="resultdialog" />
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
