<template>
  <div>
    <el-dialog
      title="菜单分配"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose"
    >
      <div class="block">
        <el-tree
          :data="data"
          node-key="id"
          default-expand-all
          :expand-on-click-node="false"
          :props="{
            label:'name'
          }"
        >
          <span
            class="custom-tree-node" 
            slot-scope="{ node }"
          >
            <span>{{ node.label }}</span>
            <span style="float: right;">
              <el-switch
                v-model="node.natrue"
                active-text="管理"
                inactive-text="仅查看"
                active-value="1"
                inactive-value="0"
                @change="change(node)"
              />
            </span>
          </span>
        </el-tree>
      </div>
      <span 
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="dialogVisible = false"
        >确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
