<template>
  <div>
    <el-dialog
      title="新增员工"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose"
    >
      <el-form 
        ref="form" 
        :model="form" 
        label-width="80px"
      >
        <el-form-item label="工号:">
          <el-input
            v-model="form.employeeNo"
          />
        </el-form-item>
        <el-form-item label="姓名">
          <el-input 
            v-model="form.name"
          />
        </el-form-item>
        <el-form-item label="部门">
          <el-input 
            v-model="form.departmentName"
          />
        </el-form-item>
        <el-form-item label="职位">
          <el-input 
            v-model="form.jobName"
          />
        </el-form-item>
        <el-form-item label="入职日期">
          <div class="block">
            <el-date-picker
              v-model="form.birth"
              type="date"
              style="width: 335px;"
              placeholder="选择日期"
            />
          </div>
        </el-form-item>        
      </el-form>
      <span 
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="addEmployee"
        >确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
