<template>
  <div class="home-header">
    <img
      src="~assets/theme-login.png"
      alt=""
      class="logo"
    >
    <div class="home-header-features">
      <el-badge
        :max="99"
        class="home-header-features-badge"
      >
        <el-tooltip
          class="tooltip"
          effect="dark"
          content="异常日志"
          placement="bottom"
        >
          <el-button
            icon="el-icon-warning"
            size="mini"
          />
        </el-tooltip>
      </el-badge>
      <el-badge
        :max="99"
        class="home-header-features-badge"
      >
        <el-tooltip
          class="tooltip"
          effect="dark"
          content="个人中心"
          placement="bottom"
        >
          <el-button
            icon="el-icon-s-check"
            size="mini"
          />
        </el-tooltip>
      </el-badge>
      <el-badge
        value="1"
        :max="99"
        class="home-header-features-badge"
      >
        <el-tooltip
          class="home-header-tooltip"
          effect="dark"
          content="消息通知"
          placement="left"
        >
          <el-dropdown trigger="click">
            <el-button
              icon="el-icon-message-solid"
              size="mini"
            />
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>库存不足预警</el-dropdown-item>
              <el-dropdown-item>过期预警</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-tooltip>
      </el-badge>
    </div>

    <!--    <div class="user-info">-->
    <!--      <p>你好，{{ userNameGet }}</p>-->
    <!--      <p @click="logout">[退出]</p>-->
    <!--    </div>-->
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
