@import "~styles/var.less";

.home-header {
  width: 100%;
  height: 133px;
  background-color: @primary-color;
  display: flex;
  flex-direction: row;
  //align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  .logo {
    margin-top: 10px;
    height: 128px;
    width: auto;
    margin-left: 10px;
  }

  &-features {
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5px;

    &-badge {
      margin-top: 1px;
      margin-right: 15px;
    }
  }

  .user-info {
    display: flex;
    color: @black;
    font-size: 14px;
    line-height: 20px;
    margin-right: 70px;

    & p:last-child {
      cursor: pointer;
      margin-left: 20px;

      &:hover {
        color: @link-color;
      }
    }
  }
}
