<template>
  <div>
    <el-dialog
      title="修改物料种类信息"
      :visible.sync="dialogVisible"
      width="30%"
    >
      <el-form
        ref="warehouseMaterialTypeDtoRef"
        :model="warehouseMaterialTypeDto"
        label-width="100px"
      >
        <el-form-item label="物料种类代码">
          <el-input
            v-model="warehouseMaterialTypeDto.materialTypeCode"
          />
        </el-form-item>
        <el-form-item label="物料种类名">
          <el-input
            v-model="warehouseMaterialTypeDto.materialTypeName"
          />
        </el-form-item>
        <el-form-item label="备注">
          <el-input
            v-model="warehouseMaterialTypeDto.materialTypeRemark"
          />
        </el-form-item>
      </el-form>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="updateMaterialType"
        >确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>