<template>
  <el-dialog
    :visible.sync="dialogVisible"
    :show-close="false"
    width="80%"
    top="2%"
  >
    <span slot="title">
      <el-tabs type="border-card">
        <el-tab-pane label="基本资料">
          <div style="max-height: 450px; overflow: auto;">
            <table
              style="width: 100%;"
              class="myTable"
            >
              <tr
                v-for="(item, i) in createMaterialBaseDto"
                :key="i"
              >
                <td class="column">{{ item.name }}</td>
                <td class="column">
                  <div v-if="item.type !== 'el-autocomplete'">
                    <div
                      class="in"
                      :is="item.type"
                      v-model="item[item.describe]"
                      :type="item.date || ''"
                    >
                      <el-option
                        :v-if="item.type === 'el-select'"
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      />
                    </div>
                  </div>
                  <div v-if="autoListName.includes(item.describe)">
                    <el-autocomplete
                      class="in"
                      v-model="item[item.describe]"
                      :type="item.date || ''"
                      :fetch-suggestions="item.event"
                      :value-key="item.event.name.replace('bound ', '')"
                    >
                      <template slot-scope="{ item }">
                        <div
                          v-for="(autoItem, index) in Object.keys(item)"
                          :key="index"
                        >
                          <div
                            :class="autoItem"
                            v-if="autoItem.toLowerCase().indexOf('id') === -1"
                          >
                            {{ item[autoItem] }}
                          </div>
                        </div>
                      </template>
                    </el-autocomplete>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </el-tab-pane>
        <el-tab-pane label="物流资料">
          <div style="max-height: 450px; overflow: auto;">
            <table
              style="width: 100%;"
              class="myTable"
            >
              <tr
                v-for="(item, i) in createLogisticsBaseDto"
                :key="i"
              >
                <td class="column">{{ item.name }}</td>
                <td class="column">
                  <div v-if="item.type !== 'el-autocomplete'">
                    <div
                      class="in"
                      :is="item.type"
                      v-model="item[item.describe]"
                      :type="item.date || ''"
                    >
                      <el-option
                        :v-if="item.type === 'el-select'"
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      />
                    </div>
                  </div>
                  <div v-if="autoListName.includes(item.describe)">
                    <el-autocomplete
                      class="in"
                      v-model="item[item.describe]"
                      :type="item.date || ''"
                      :fetch-suggestions="item.event"
                      :value-key="item.event.name.replace('bound ', '')"
                    >
                      <template slot-scope="{ item }">
                        <div
                          v-for="(autoItem, i) in Object.keys(item)"
                          :key="i"
                          :class="autoItem"
                        >
                          <div
                            v-if="autoItem.toLowerCase().indexOf('id') === -1"
                          >
                            {{ item[autoItem] }}
                          </div>
                        </div>
                      </template>
                    </el-autocomplete>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </el-tab-pane>
      </el-tabs>
      <!-- 脚 -->
      <span
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="addMaterial"
        >确 定</el-button>
      </span>
    </span>
  </el-dialog>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
