<template>
  <div class="view-full showinstockproduct">
    <el-dialog
      title="单据详情"
      :visible.sync="dialogVisible"
      width="1000px"
    >
      <!--表单区域-->
      <h1>产品入库</h1>
      <el-form
        :model="ruleForm"
        label-width="90px"
        :rules="rules"
        size="mini"
        :inline="true"
        ref="ruleForm"
      >
        <div class="part1">
          <el-form-item
            class="box1"
            label="单据类型:"
            prop="documentType"
          >
            <el-select
              class="box2"
              v-model="ruleForm.documentType"
              :disabled="true"
            >
              <el-option
                label="采购入库"
                value="采购入库"
              />
              <el-option
                label="产品入库"
                value="产品入库"
              />
              <el-option
                label="盘盈入库"
                value="盘盈入库"
              />
              <el-option
                label="其他入库"
                value="其他入库"
              />
            </el-select>
          </el-form-item>
          <el-form-item
            class="box1"
            label="编号:"
            prop="documentNo"
          >
            <el-input
              class="box2"
              v-model="ruleForm.documentNo"
              maxlength:100px
              :disabled="true"
            />
          </el-form-item>
          <el-form-item
            class="box1"
            label="审核标志:"
            prop="allow"
          >
            <el-select
              class="box2"
              v-model="ruleForm.allow"
              :disabled="true"
            >
              <el-option
                v-for="item in allow"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>
          <el-form-item
            class="box1"
            label="日期:"
            prop="documentDate"
          >
            <div class="block">
              <el-date-picker
                class="doucumentdate"
                v-model="ruleForm.documentDate"
                type="date"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="选择日期"
              />
            </div>
          </el-form-item>
          <el-form-item
            class="box1"
            label="交货单位:"
            prop="deliveryInstitution"
          >
            <el-autocomplete
              class="box2" 
              clearable
              placeholder="请输入交货单位"
              :fetch-suggestions="searchDepartmentAsync"
              v-model="ruleForm.deliveryInstitution"
              value-key="departmentName"
            >
              <template slot-scope="{item }">
                <div class="employeeNo">{{ item.departmentName }}</div>
                <span class="name">{{ item.departmentCode }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            class="box1"
            label="红蓝单:"
            prop="redSheet"
          >
            <el-select
              class="box2"
              v-model="ruleForm.redSheet"
              placeholder="请选择红蓝单"
            >
              <el-option
                v-for="item in redSheet"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>
          <el-form-item
            class="box1"
            label="仓库名:"
            prop="warehouseName"
          >
            <el-autocomplete
              class="box2" 
              clearable
              placeholder="请输入仓库名"
              :fetch-suggestions="searchWarehouseNameAsync"
              v-model="ruleForm.warehouseName"
              value-key="warehouseName"
            >
              <template slot-scope="{item }">
                <div class="employeeNo">{{ item.warehouseName }}</div>
                <span class="name">{{ item.warehouseCode }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            class="box1"
            label="品质检查人:"
            prop="qualityEmployee"
          >
            <el-autocomplete
              class="box2" 
              clearable
              placeholder="请输入品质"
              :fetch-suggestions="querySearchAsync"
              v-model="ruleForm.qualityEmployee"
              value-key="name"
            >
              <template slot-scope="{item }">
                <div class="employeeNo">{{ item.employeeNo }}</div>
                <span class="name">{{ item.name }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            class="box1"
            label="摘要:"
            prop="digest"
          >
            <el-input
              class="box2"
              v-model="ruleForm.digest"
              maxlength:100px
            />
          </el-form-item>
        </div>
        <br>
        <!--表格区域-->
        <el-button
          class="anniu"
          size="mini"
          @click="addRow()"
          style="float: right;"
        >
          增行
        </el-button>
        <el-button
          class="anniu"
          size="mini"
          @click="showData()"
          style="float: right;"
        >
          表格设置
        </el-button>
        <el-table
          class="biaoge"
          :data="ruleForm.materialsDetail"
          border
          max-height="250px"
        >
          <el-table-column
            v-for="(items,index) in tempCols"
            :key="index"
            :prop="items.prop"
            :label="items.label"
            width="200px"
            align="center"
          >
            <template slot-scope="scope">
              <template v-if="items.prop=='materialName'">
                <el-autocomplete
                  class="box2"
                  clearable
                  v-show="scope.row.show"
                  :fetch-suggestions="searchMaterialAsync"
                  v-model="scope.row[items.prop]"
                  value-key="materialName"
                  @select="(item) => {handleSelect(item,scope.row)}"
                >
                  <template slot-scope="{ item }">
                    <div class="employeeNo">{{ item.materialCode }}</div>
                    <span class="name">{{ item.materialName }}</span>
                  </template>
                </el-autocomplete>
                <span v-show="!scope.row.show">{{ scope.row[items.prop] }}</span>
              </template>
              <template v-else-if="items.prop=='warehouseName'">
                <el-autocomplete
                  class="box2"
                  clearable
                  v-show="scope.row.show"
                  :fetch-suggestions="searchWarehouseNameAsync"
                  v-model="scope.row[items.prop]"
                  value-key="warehouseName"
                >
                  <template slot-scope="{ item }">
                    <div class="employeeNo">{{ item.warehouseCode }}</div>
                    <span class="name">{{ item.warehouseName }}</span>
                  </template>
                </el-autocomplete>
                <span v-show="!scope.row.show">{{ scope.row[items.prop] }}</span>
              </template>
              <template v-else-if="items.prop=='unit'">
                <el-autocomplete 
                  clearable
                  v-show="scope.row.show"
                  :fetch-suggestions="searchUnitAsync"
                  v-model="scope.row[items.prop]"
                  value-key="unitName"
                >
                  <template slot-scope="{ item }">
                    <div class="employeeNo">{{ item.unitCode }}</div>
                    <span class="name">{{ item.unitName }}</span>
                  </template>
                </el-autocomplete>
                <span v-show="!scope.row.show">{{ scope.row[items.prop] }}</span>
              </template>
              <template v-else-if="items.prop=='productionDate'">
                <el-date-picker
                  class="eldatepicker"
                  v-model="scope.row[items.prop]"
                  type="date"
                  v-show="scope.row.show"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  placeholder="选择日期"
                />
                <span v-show="!scope.row.show">{{ scope.row[items.prop] }}</span>
              </template>
              <template v-else-if="items.prop=='expiryDate'">
                <el-date-picker
                  class="eldatepicker"
                  v-model="scope.row[items.prop]"
                  type="date"
                  v-show="scope.row.show"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  placeholder="选择日期"
                />
                <span v-show="!scope.row.show">{{ scope.row[items.prop] }}</span>
              </template>
              <template v-else>
                <el-input
                  v-show="scope.row.show"
                  v-model="scope.row[items.prop]"
                />
                <span v-show="!scope.row.show">{{ scope.row[items.prop] }}</span>
              </template>
            </template>
          </el-table-column>
          <el-table-column
            fixed="right"
            label="操作"
            width="155px"
          >
            <template slot-scope="scope">
              <el-button
                @click="scope.row.show =true"
                type="text"
                size="mini"
              >
                编辑
              </el-button>
              <el-button
                @click="scope.row.show =false"
                type="text"
                size="mini"
              >
                保存
              </el-button>
              <el-button
                @click.native.prevent="deleteRow(scope.$index,ruleForm.materialsDetail)"
                type="text"
                size="mini"
              >
                删行
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <br>
        <!--对话框-->
        <el-dialog
          title="选择需要的字段"
          :visible.sync="dialogFormVisible"
          width="40%"
          center
          top="15vh"
        >
          <el-checkbox
            :indeterminate="isIndeterminate"
            v-model="checkAll"
            @change="handleCheckAllChange"
          >
            全选
          </el-checkbox>
          <div class="anniu" />
          <el-checkbox-group
            v-model="checkedCities"
            @change="handleCheckedCitiesChange"
          >
            <el-checkbox
              v-for="item in columns"
              :label="item.prop"
              :key="item.prop"
            >
              {{ item.label }}
            </el-checkbox>
          </el-checkbox-group> 
          <div
            slot="footer"
            class="dialog-footer"
          >
            <el-button
              @click="dialogFormVisible=false"
              size="medium"
            >
              取 消
            </el-button>
            <el-button
              type="primary"
              @click="confirmShow"
              size="medium"
            >
              确定
            </el-button>
          </div>
        </el-dialog> 
    
        <!--表单区域-->
        <div class="part1">
          <el-form-item
            class="box1"
            label="主管:"
            prop="manager"
          >
            <el-autocomplete
              class="box2" 
              clearable
              placeholder="请输入主管"
              :fetch-suggestions="querySearchAsync"
              v-model="ruleForm.manager"
              value-key="name"
            >
              <template slot-scope="{item}">
                <div class="employeeNo">{{ item.employeeNo }}</div>
                <span class="name">{{ item.name }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            class="box1"
            label="验收人:"
            prop="checkEmployee"
          >
            <el-autocomplete
              class="box2" 
              clearable
              placeholder="请输入验收人"
              :fetch-suggestions="querySearchAsync"
              v-model="ruleForm.checkEmployee "
              value-key="name"
            >
              <template slot-scope="{item }">
                <div class="employeeNo">{{ item.employeeNo }}</div>
                <span class="name">{{ item.name }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            class="box1"
            label="制单人:"
            prop="documentCreator"
          >
            <el-autocomplete
              class="box2" 
              clearable
              placeholder="请输入制单人"
              :fetch-suggestions="querySearchAsync"
              v-model="ruleForm.documentCreator"
              value-key="name"
            >
              <template slot-scope="{item }">
                <div class="employeeNo">{{ item.employeeNo }}</div>
                <span class="name">{{ item.name }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
        
          <el-form-item
            class="box1"
            label="经办人:"
            prop="handingEmployee"
          >
            <el-autocomplete
              class="box2" 
              clearable
              placeholder="请输入经办人"
              :fetch-suggestions="querySearchAsync"
              v-model="ruleForm.handingEmployee"
              value-key="name"
            >
              <template slot-scope="{item }">
                <div class="employeeNo">{{ item.employeeNo }}</div>
                <span class="name">{{ item.name }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            class="box1"
            label="批准人:"
            prop="approvalEmployee"
          >
            <el-autocomplete
              class="box2" 
              clearable
              placeholder="请输入批准人"
              :fetch-suggestions="querySearchAsync"
              v-model="ruleForm.approvalEmployee"
              value-key="name"
            >
              <template slot-scope="{item }">
                <div class="employeeNo">{{ item.employeeNo }}</div>
                <span class="name">{{ item.name }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            class="box1"
            label="保管人:"
            prop="safekeepEmployee"
          >
            <el-autocomplete
              class="box2" 
              clearable
              placeholder="请输入保管人"
              :fetch-suggestions="querySearchAsync"
              v-model="ruleForm.safekeepEmployee"
              value-key="name"
            >
              <template slot-scope="{item }">
                <div class="employeeNo">{{ item.employeeNo }}</div>
                <span class="name">{{ item.name }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            class="box1"
            label="审核人:"
            prop="examineEmployee"
          >
            <el-autocomplete
              class="box2" 
              clearable
              placeholder="请输入审核人"
              :fetch-suggestions="querySearchAsync"
              v-model="ruleForm.examineEmployee"
              :disabled="true"
              value-key="name"
            >
              <template slot-scope="{item }">
                <div class="employeeNo">{{ item.employeeNo }}</div>
                <span class="name">{{ item.name }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
        </div>
        <br>
      </el-form>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button @click="deleteBill();dialogVisible = false">删除此单据</el-button>
        <el-button
          type="primary"
          @click="dialogVisible = false"
        >确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
