@import "~styles/var.less";

.myTable {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
}

.myTable td,
.myTable th {
  border: 1px solid #cad9ea;
  color: #666;
  height: 10px;
}

.dialog-footer {
  float: right;
  margin-top: 10px;
}

.column {
  width: 50%;
}

.in {
  border: none;
  height: 40px;
  width: 100%;
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal !important;
}

.employeeNo {
  font-size: 11px;
  color: #b4b4b4;
}

.warehouseCodeName {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal !important;
}

.warehouseCode {
  font-size: 11px;
  color: #b4b4b4;
}

.materialTypeName {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal !important;
}

.materialTypeCode {
  font-size: 11px;
  color: #b4b4b4;
}

.unitTypeName {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal !important;
  line-height: 40px;
}

.unitName {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal !important;
}

.unitCode {
  font-size: 11px;
  color: #b4b4b4;
}
