<template>
  <div id="MaterielPage">
    <add-material-dialog ref="addMaterialDialog" />
    <add-batch-material-dialog ref="addBatchMaterialDialog" />
    <!-- <el-container style="border: 1px solid #eee"> -->
    <!-- <el-aside width="200px" id="treeid"> -->
    <div id="left">
      <div id="treeid">
        <el-tabs
          type="border-card"
          stretch
        >
          <!-- 树形图 -->
          <el-tab-pane label="物料">
            <el-tree
              :data="data"
              node-key="materialTypeId"
              ref="tree"
              @node-click="handleNodeClick"
              @node-contextmenu="rightHandleNodeContextMenu"
              :default-expanded-keys="[1]"
              :props="defaultProps"
              highlight-current
            />
          </el-tab-pane>
        </el-tabs>
        <br>
        <!-- 树形图的增删改 -->
        <add-material-type-dialog ref="addMaterialTypeDialog" />
        <del-material-type-dialog ref="delMaterialTypeDialog" />
        <upd-material-type-dialog ref="updMaterialTypeDialog" />
        <!-- 增删改图形 -->
        <div v-show="menuVisible">
          <el-menu
            id="menu"
            class="menu"
          >
            <el-menu-item
              index="1"
              class="menuItem"
            >
              <span
                slot="title"
                @click="openDialog('addMaterialTypeDialog')"
              >
                <i class="el-icon-message" />添加
              </span>
            </el-menu-item>
            <el-menu-item
              index="2"
              class="menuItem"
            >
              <span
                slot="title"
                @click="openDialog('delMaterialTypeDialog')"
              >
                <i class="el-icon-message" />删除
              </span>
            </el-menu-item>
            <el-menu-item
              index="3"
              class="menuItem"
            >
              <span
                slot="title"
                @click="openDialog('updMaterialTypeDialog')"
              >
                <i class="el-icon-message" />修改
              </span>
            </el-menu-item>
          </el-menu>
        </div>
      </div>
    </div>
    <!-- </el-aside> -->
    <div id="resize" />

    <!-- 右边部分 -->
    <!-- <el-container> -->
    <div id="right">
      <el-tabs
        type="border-card"
        top="0px"
        style="width: 99.9%;"
      >
        <!-- 列表 -->
        <el-tab-pane label="基本资料">
          <el-table
            ref="materialTable"
            :data="basicMessageBodies"
            :height="tableHeight"
            style="width: 100%; text-align: center;"
            @row-dblclick="rowClick"
          >
            <el-table-column
              align="center"
              v-for="(item, index) in basicMessageHeaders"
              :key="index"
              :label="item.label"
              :prop="item.key"
            />
          </el-table>
          <div class="block">
            <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="page.currentPage"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="page.pageSize"
              layout="total, sizes, prev, pager, next, jumper"
              :total="page.total"
            />
          </div>
        </el-tab-pane>
        <!-- 增加物料 -->
        <el-tab-pane disabled>
          <span slot="label">
            <el-button
              size="mini"
              plain
              @click="openDialog('addMaterialDialog')"
            >添加物料</el-button>
            <el-button
              size="mini"
              plain
              @click="openDialog('addBatchMaterialDialog')"
            >批量添加物料</el-button>
          </span>
        </el-tab-pane>
        <!-- 模糊查询 -->
        <el-tab-pane disabled>
          <span slot="label">
            <el-autocomplete
              suffix-icon="el-icon-search"
              v-model="state"
              :fetch-suggestions="querySearchAsync"
              size="mini"
              placeholder="输入物料名称或物料代码"
              @input="handleSelect()"
              value-key="materialName"
            >
              <template slot-scope="{ item }">
                <div class="materialName">{{ item.materialName }}</div>
                <span class="materialCode">{{ item.materialCode }}</span>
              </template>
            </el-autocomplete>
          </span>
        </el-tab-pane>
      </el-tabs>
    </div>
    <!-- </el-container> -->
    <upd-del-material-dialog ref="updDelMaterialDialog" />
    <!-- </el-container> -->
  </div>
</template>
<style lang="less" src="./index.less" ></style>
<script src="./index.js"></script>