@import "~styles/var.less";

.showplandialog {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.box1 {
  width: 290px;
}

.box2 {
  width: 200px;
}

.my-autocomplete {
  width: 200px;

  li {
    box-sizing: border-box;
    padding: 5px 20px;
    line-height: 20px;

    .employeeNo {
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: normal !important;
    }

    span {
      font-size: 12px;
      color: #b4b4b4;
    }

    .name {
      font-size: 12px;
      color: #b4b4b4;
    }
  }
}

.el-date-picker {
  width: 155px;
}

.beizhu1 {
  width: 400px;
}

.beizhu2 {
  width: 500px;
}

.chengping {
  width: 100%;
}

.chengpingtablecolumn {
  text-align: center;
}

.yuanliaotable {
  width: 100%;
}

.yuanliaotablecolumn {
  text-align: center;
}
