<template>
  <el-dialog
    title="创建bom单"
    center
    :visible.sync="dialogVisible"
    width="80%"
  >
    <!--表单区域-->
    <el-form
      :model="ruleForm"
      label-width="90px"
      :rules="rules"
      size="mini"
      :inline="true"
      ref="ruleForm"
    >
      <div class="part1">
        <el-form-item
          class="box1"
          label="物料名字:"
          prop="materialName"
        >
          <el-autocomplete
            class="box2" 
            clearable
            placeholder="请输入物料名"
            :fetch-suggestions="searchMaterialAsync"
            v-model="ruleForm.materialName"
            value-key="materialName"
          >
            <template slot-scope="{item}">
              <div class="employeeNo">{{ item.materialName }}</div>
              <span class="name">{{ item.materialCode }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="bom单组别名:"
          prop="bomTypeName"
          label-width="110px"
        >
          <el-input
            class="box2"
            :disabled="true"
            v-model="ruleForm.bomTypeName"
          />
        </el-form-item>
        <el-form-item
          class="box1"
          autosize
          label="bom单据编号:"
          prop="formNumber"
          label-width="110px"
        >
          <el-input
            class="box2"
            v-model="ruleForm.formNumber"
            maxlength:100px
          />
        </el-form-item><br>
        <el-form-item
          class="box1"
          label="合成物料数量:"
          prop="number"
          label-width="110px"
        >
          <el-input
            class="box2"
            v-model="ruleForm.number"
            maxlength:100px
          />
        </el-form-item>       
        <el-form-item
          class="box1"
          label="费用:"
          prop="cost"
        >
          <el-input
            class="box2"
            v-model="ruleForm.cost"
            maxlength:100px
          />
        </el-form-item>
        <el-form-item
          class="box1"
          label="单位:"
          prop="unitName"
        >
          <el-autocomplete
            class="box2" 
            clearable
            placeholder="单位"
            :fetch-suggestions="searchUnitAsync"
            v-model="ruleForm.unitName"
            value-key="unitName"
          >
            <template slot-scope="{item}">
              <div class="unitName">{{ item.unitName }}</div>
              <span class="unitCode">{{ item.unitCode }}</span>
            </template>
          </el-autocomplete>
        </el-form-item><br>
        <el-form-item
          class="box1"
          label="备注:"
          prop="remark"
        >
          <el-input
            class="box2"
            v-model="ruleForm.remark"
            maxlength:100px
          />
        </el-form-item>
      </div>
      <br>

      <!--表格区域-->
      <el-button
        size="mini"
        @click="addRow()"
        style="float: right;"
      >
        增行
      </el-button>
      <el-table
        :data="ruleForm.bomDetailShines"
        class="table"
        row-key="id"
        border
        max-height="180"
        :cell-style="{padding:'0px'}"
      >
        <el-table-column
          v-for="(items,index) in tempCols"
          :key="index"
          :prop="items.prop"
          :label="items.label"
          width="180px"
          align="center"
        >
          <template slot-scope="scope">
            <template v-if="items.prop=='materialName'">
              <el-autocomplete
                class="box2"
                style="width: 100%;"
                clearable
                :fetch-suggestions="searchMaterialAsync"
                v-model="scope.row[items.prop]"
                value-key="materialName"
                @select="(item) => {handleSelect(item,scope.row)}"
              >
                <template slot-scope="{ item }">
                  <div class="employeeNo">{{ item.materialCode }}</div>
                  <span class="name">{{ item.materialName }}</span>
                </template>
              </el-autocomplete>
            </template>
            <!-- <template v-else-if="items.prop=='warehouseName'" >
                <el-autocomplete class="box2"
                  clearable
                  v-show="scope.row.show"
                  :fetch-suggestions="searchWarehouseNameAsync"
                  v-model="scope.row[items.prop]"
                  value-key="warehouseName">
                  <template slot-scope="{ item }">
                    <div class="employeeNo">{{ item.warehouseCode}}</div>
                    <span class="name">{{ item.warehouseName}}</span>
                  </template>
                </el-autocomplete>
                <span v-show="!scope.row.show">{{scope.row[items.prop]}}</span>
            </template> -->
            <template v-else-if="items.prop=='unitName'">
              <el-autocomplete 
                clearable
                :fetch-suggestions="searchUnitAsync"
                v-model="scope.row[items.prop]"
                value-key="unitName"
              >
                <template slot-scope="{ item }">
                  <div class="employeeNo">{{ item.unitCode }}</div>
                  <span class="name">{{ item.unitName }}</span>
                </template>
              </el-autocomplete>
            </template>
            <template v-else-if="items.prop=='status'">
              <el-select
                v-model="scope.row[items.prop]"
                placeholder="请选择使用状态"
                style="width: 100%;"
              >
                <el-option
                  label="使用"
                  value="true"
                />
                <el-option
                  label="停用"
                  value="false"
                />
              </el-select>
            </template>
            <template v-else-if="items.prop=='productionDate'">
              <el-date-picker
                v-model="scope.row[items.prop]"
                type="date" 
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 180px;"
                placeholder="选择日期"
              />
            </template>
            <template v-else-if="items.prop=='expiryDate'">
              <el-date-picker
                v-model="scope.row[items.prop]"
                type="date" 
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 180px;"
                placeholder="选择日期"
              />
            </template>
            <template v-else>
              <el-input v-model="scope.row[items.prop]" />
            </template>
          </template>
        </el-table-column>
        <!-- <el-table-column
          fixed="right"
          label="物料名称"
          width="180px"
          prop="materialName"
          ></el-table-column> -->
        <el-table-column
          fixed="right"
          label="操作"
          width="80px"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              @click.native.prevent="deleteRow(scope.$index,scope.row)"
              type="text"
              size="mini"
            >
              删行
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <br>
      <br>
    </el-form>
    <div class="box3">
      <el-button @click="dialogVisible = false">取 消</el-button>
      <el-button
        type="primary"
        @click="onSumit('ruleForm');"
      >
        提交
      </el-button>
    </div>
  </el-dialog>
</template>
<script src="./index.js"></script>
<style lang="less" src="./index.less" scoped></style>