<template>
  <div class="view-full searchProductionDialog">
    <el-dialog 
      :visible.sync="dialogFormVisible" 
      width="1200px" 
      title="选择物料" 
      append-to-body
    >
      <span style="float: right;">
        <el-autocomplete
          suffix-icon="el-icon-search"
          v-model="state"
          :fetch-suggestions="querySearchAsync"
          size="small"
          placeholder="输入物料代码"
          @input="getMaterial"
          value-key="materialCode"
        >
          <template slot-scope="{ item }">
            <div class="searchMaterialDialog-materialName">{{ item.materialName }}</div>
            <span class="searchMaterialDialog-materialCode">{{ item.materialCode }}</span>
          </template>
        </el-autocomplete>
      </span>
      <el-table
        :data="materialListBodies"
        size="mini"
        ref="materialListTable"
        style="width: 100%;"
        min-height="250"
        max-height="400"
        v-loading="materialListLoading"
        @selection-change="selectMaterial"
      >
        <el-table-column
          type="selection"
          width="35"
        />
        <el-table-column 
          align="center" 
          v-for="(item,index) in materialListHeaders" 
          :key="index" 
          :label="item.label" 
          :prop="item.key"
        />
      </el-table>
      <div class="block">
        <el-pagination 
          @size-change="handleSizeChange" 
          @current-change="handleCurrentChange"
          :current-page="page.currentPage" 
          :page-sizes="[10, 20, 30, 40]" 
          :page-size="page.pageSize"
          layout="total, sizes, prev, pager, next, jumper" 
          :total="page.total"
        />
      </div>
      <div 
        slot="footer" 
        class="dialog-footer"
      >
        <el-button @click="dialogFormVisible=false;">关闭</el-button>
        <el-button 
          type="primary" 
          @click="sentSelected()"
        >
          添加
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
