<template>
  <div class="deleteDialog">
    <el-dialog
      title="帮助"
      :visible.sync="dialogFormVisible"
    >
      确认删除？？
      <div
        slot="footer"
        class="dialogFooter"
      >
        <el-button @click="dialogFormVisible=false">取 消</el-button>
        <el-button
          type="primary"
          @click="deletePlans(productionNoList)"
        >
          确 定
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
