<template>
  <el-dialog
    title="人工获取扫描数量"
    :visible.sync="dialogVisible"
    width="30%"
  >
    <div class="center">
      <el-form
        :model="ruleForm"
        label-width="90px"
        :rules="rules"
        size="mini"
        :inline="true"
        ref="ruleForm"
      >
        <el-form-item 
          label="物料"
          :prop="ruleForm.material"
        >
          <el-select
            style="width:180px"
            v-model="value"
            filterable
            placeholder="请选择"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          label="数量"
          :prop="ruleForm.num"
        >
          <el-input
            style="width:180px"
            v-model="input"
          />
        </el-form-item>
      </el-form>
    </div>
    <div class="bottom">
      <el-button @click="dialogVisible=false">取消</el-button>
      <el-button type="primary" @click="dialogVisible=false">确定</el-button>
    </div>
  </el-dialog>
</template>
<script src="./index.js"></script>
<style lang="less" src="./index.less" scoped></style>