<template>
  <div class="view-full material">
    <div id="material">
      <div class="left">
        <a
          href="javascript:;"
        ><img
          src="@/assets/materialPhoto/采购入库.png"
          @click="addTab('in-stockroom-purchase')"
          alt
        ><br></a><span>采购入库</span><br>
        <a
          href="javascript:;"
        ><img
          src="@/assets/materialPhoto/产品入库.png"
          @click="addTab('in-stockroom-product')"
          alt
        ><br></a><span>产品入库</span><br>
        <!-- <a href="javascript:;"><img  'in-stockroom-profits')" src="@/assets/materialPhoto/盈亏入库.png" alt /><br/></a><span>盘盈入库</span><br/> -->
        <a
          href="javascript:;"
        ><img
          src="@/assets/materialPhoto/其他入库.png"
          @click="addTab('in-stockroom-other')"
          alt
        ><br></a><span>其他入库</span>
      </div>
      <div class="left_left">
        <a
          href="javascript:;"
        ><img
          src="@/assets/materialPhoto/入库序时簿.png"
          @click="addTab('purchase-entry-time-book')"
          alt
        ><br></a><br>
        <a
          href="javascript:;"
        ><img
          src="@/assets/materialPhoto/入库序时簿.png"
          @click="addTab('product-entry-time-book')"
          alt
        ><br></a><br>
        <a
          href="javascript:;"
        ><img
          src="@/assets/materialPhoto/入库序时簿.png"
          @click="addTab('other-entry-time-book')"
          alt
        ><br></a>
        <!-- <a href="javascript:;"><img  'inventory-entry-time-book')" src="@/assets/materialPhoto/入库序时簿.png" alt /><br/></a><br/> -->
      </div>
      <div class="center decoration">
        <img
          src="@/assets/materialPhoto/长箭头.png"
          alt
        ><br>
      </div>
      <div class="left_left">
        <a
          href="javascript:;"
        ><img
          src="@/assets/materialPhoto/出库序时簿.png"
          @click="addTab('sell-out-time-book')"
          alt
        ><br></a><br>
        <a
          href="javascript:;"
        ><img
          src="@/assets/materialPhoto/出库序时簿.png"
          @click="addTab('get-materials-out-time-book')"
          alt
        ><br></a><br>
        <!-- <a href="javascript:;"><img  'damaged-dish-deficient-time-book')" src="@/assets/materialPhoto/出库序时簿.png" alt /><br/></a><br/> -->
        <a
          href="javascript:;"
        ><img
          src="@/assets/materialPhoto/出库序时簿.png"
          @click="addTab('other-out-time-book')"
          alt
        ><br></a>
      </div>
      <div class="right">
        <a
          href="javascript:;"
        ><img
          src="@/assets/materialPhoto/销售出库.png"
          @click="addTab('out-stockroom-sale')"
          alt
        ><br></a><span>销售出库</span><br>
        <a
          href="javascript:;"
        ><img
          src="@/assets/materialPhoto/领料出库.png"
          @click="addTab('out-stockroom-draw')"
          alt
        ><br></a><span>领料出库</span><br>
        <!-- <a href="javascript:;"><img  'out-stockroom-loss')" src="@/assets/materialPhoto/盘亏毁损.png" alt /><br/></a><span>盘亏毁损</span><br/> -->
        <a
          href="javascript:;"
        ><img
          src="@/assets/materialPhoto/其它出库.png"
          @click="addTab('out-stockroom-other')"
          alt
        ><br></a><span>其它出库</span><br>
      </div>
      <el-aside
        class="app-side app-side-left material"
        width="270px"
        id="materialaside"
      >
        <el-menu
          class="el-menu-demo"
          @select="addTab"
        >
          <!-- 基础资料，物料状态 -->
          <el-tabs type="border-card">
            <!-- <el-tab-pane>
              <span slot="label"><i class="el-icon-date" /> 基础资料</span>
              <el-menu-item-group>
                <el-menu-item :key="1">
                  :disabled="$store.state.powerArray.indexOf(item.show,0)===-1"-->
            <!-- <i class="el-icon-document" />
                  {{ 11111 }}
                </el-menu-item>
              </el-menu-item-group>
            </el-tab-pane>  -->
            <el-tab-pane>
              <span slot="label"><i class="el-icon-date" /> 物料状态</span>
              <el-menu-item-group>
                <el-menu-item
                  v-for="(item,index) in $tabMenu.slice(12,16)"
                  :key="index"
                  :index="item.name"
                >
                  <i class="el-icon-document" />
                  {{ item.describe }}
                </el-menu-item>
              </el-menu-item-group>
            </el-tab-pane>
          </el-tabs>
          <!-- 预警 -->
          <br>
        <!-- <el-tabs type="border-card" v-if="$store.state.powerArray.indexOf('物料过期预警信息',0)
        !==-1&&$store.state.powerArray.indexOf('物料库存不足预警信息',0)!==-1">
          <el-tab-pane>
            <span slot="label"><i class="el-icon-date"></i> 预警</span>
          <el-menu-item-group>
            <el-menu-item v-for="(item,index)  in menu.slice(22,25)" :key="index" :index="item.name"
             v-if="$store.state.powerArray.indexOf(item.show,0)!==-1">
              <i class="el-icon-document"></i>
              {{item.describe}}
            </el-menu-item>
          </el-menu-item-group>
          </el-tab-pane>
        </el-tabs> -->
        </el-menu>
      </el-aside>
    </div>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script>
import created from "common/mixins/created";
export default created({
  props: ["addTab"],
});
</script>

