@import "~styles/var.less";

.productEntryTimeBook {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

/deep/ .el-table .success-row {
  background: #ecf6fd;
}

/deep/ .tableHead {
  background-color: #398de0 !important;
  color: #fff;
  font-weight: 400;
  height: 50px;
}

.tableStyle {
  width: 100%;
  margin-top: 20px;
}

.label {
  font-weight: bold;
}
