//@import "~styles/var.less";

.content {
  overflow: hidden;
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal !important;
}

.employeeNo {
  font-size: 11px;
  color: #b4b4b4;
}
