@import "~styles/var.less";

.role-power {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.warehouseCodeName {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal !important;
}

.warehouseCode {
  font-size: 11px;
  color: #b4b4b4;
}
