<template>
  <div class="view-full createTaskDialog">
    <el-dialog 
      title="新增工序" 
      :visible.sync="dialogFormVisible" 
      width="1200px"
    >
      <el-form 
        :model="form" 
        ref="form" 
        :inline="true" 
        :rules="formRules"
        label-width="100px"
      >
        <div>
          <el-form-item 
            label="计划单号" 
            class="createTaskDialog-formitem" 
            prop="productionPlanNo"
          >
            <el-input 
              class="createTaskDialog-formitem-body" 
              v-model="form.productionPlanNo" 
              placeholder="请输入计划单号" 
              :disabled="true"
            />
          </el-form-item>
          <el-form-item 
            label="工序名称" 
            class="createTaskDialog-formitem" 
            prop="taskName"
          >
            <el-autocomplete 
              class="createTaskDialog-formitem-body" 
              v-model="form.taskName" 
              :fetch-suggestions="searchTaskName" 
              value-key="taskName" 
              placeholder="请输入工序名称" 
              @select="selectTaskName"
            >
              <template slot-scope="{ item }">
                <div>{{ item.taskName }}</div>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item 
            label="负责人" 
            class="createTaskDialog-formitem" 
            prop="operatorEmployeeNo"
          >
            <el-autocomplete 
              popper-class="createTaskDialog-myAutocomplete" 
              v-model="form.operatorEmployeeNo"
              :fetch-suggestions="querySearchAsync"
              value-key="employeeNo"
              placeholder="请输入负责人"
            >
              <template slot-scope="{ item }">
                <div class="employeeNo">{{ item.employeeNo }}</div>
                <span class="name">{{ item.name }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item 
            label="预计开始" 
            class="createTaskDialog-formitem" 
            prop="forecastStartDate"
          >
            <div class="block">
              <el-date-picker 
                class="createTaskDialog-datePicker"
                v-model="form.forecastStartDate" 
                type="date"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="选择日期"
              />
            </div>
          </el-form-item>
          <el-form-item 
            label="预计结束" 
            class="createTaskDialog-formitem" 
            prop="forecastEndDate"
          >
            <div class="block">
              <el-date-picker 
                class="createTaskDialog-datePicker"
                v-model="form.forecastEndDate" 
                type="date"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="选择日期"
              />
            </div>
          </el-form-item>
          <el-form-item 
            label="备注" 
            class="createTaskDialog-formitem" 
            prop="remark"
          >
            <el-input 
              class="createTaskDialog-formitem-body" 
              v-model="form.remark" 
              placeholder="请输入备注"
            />
          </el-form-item>
          <!--成品-->
          <el-tabs type="border-card">
            <el-tab-pane label="成品">
              <el-table 
                :data="taskProduction"          
                class="createTaskDialog-table"
                stripe 
                border
                min-height="250"
                max-height="300"
              >
                <el-table-column 
                  v-for="(item,index) in materialTabHeader" 
                  :key="index"
                  class="createTaskDialog-table*column"
                  :prop="item.key"
                  :label="item.label"
                >
                  <template slot-scope="scope">
                    <template v-if="item.key=='materialNumber'">
                      <el-input 
                        v-model="scope.row[item.key]"   
                        @change="changeNumber" 
                      />
                    </template>
                    <template v-else-if="item.key=='remark'">
                      <el-input v-model="scope.row[item.key]" />
                    </template>
                    <template v-else>
                      <span>{{ scope.row[item.key] }}</span>
                    </template>
                  </template>
                </el-table-column>
              </el-table>
            </el-tab-pane>
            <!--
            <el-tab-pane disabled>
              <span slot="label">
                <el-button size="mini" plain @click="openDialog('createProductionDialog')">选择成品</el-button>
                <el-button size="mini" plain @click="deleteProductionRows();">删除选中</el-button>
              </span>
            </el-tab-pane> 
            -->
          </el-tabs>

          <!--原料-->
          <el-tabs type="border-card">
            <el-tab-pane label="原料">
              <el-table 
                :data="taskMaterial"
                class="createTaskDialog-table"
                stripe 
                border
                min-height="250"
                max-height="300"
              >
                <el-table-column 
                  v-for="(item,index) in materialTabHeader" 
                  :key="index"
                  class="createTaskDialog-table-column"
                  :prop="item.key"
                  :label="item.label"
                >
                  <template slot-scope="scope">
                    <template v-if="item.key=='materialNumber'||item.key=='remark'">
                      <el-input v-model="scope.row[item.key]" />
                    </template>
                    <template v-else>
                      <span>{{ scope.row[item.key] }}</span>
                    </template>
                  </template>
                </el-table-column>
              </el-table>
            </el-tab-pane>
            <!--
            <el-tab-pane disabled>
              <span slot="label">
                <el-button size="mini" plain @click="openDialog('createMaterialDialog')">选择物料</el-button>
                <el-button size="mini" plain @click="deleteMaterialRows();">删除选中</el-button>
                <el-popconfirm
                  title="是否确定替换当前你选择的所有原料？"
                  @onConfirm="analyzeBOM()"
                >
                  <el-button size="mini" plain  slot="reference">按BOM分析</el-button>
                </el-popconfirm>
              </span>
            </el-tab-pane> 
            -->
          </el-tabs>
        </div>
      </el-form>
      <div 
        slot="footer" 
        class="dialog-footer"
      >
        <el-button @click="dialogFormVisible=false,reset('form')">取 消</el-button>
        <el-button @click="reset('form')">重 置</el-button>
        <el-button 
          type="primary" 
          @click="sendForm('form');"
        >
          确 定
        </el-button>
      </div>
    </el-dialog>
    <SearchMaterialDialog 
      ref="createMaterialDialog" 
      @func="getSelectedMaterial"
    />
    <SearchProductionDialog 
      ref="createProductionDialog" 
      @func="getProduction"
    />
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
