h1 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: 20px;
}

.box1 {
  width: 300px;
  margin-left: 16px;
}

.box2 {
  width: 180px;
}

.box3 {
  display: block;
  text-align: center;
}

.box3 button {
  width: 100px;
}

/deep/ .cell {
  padding: 0 !important;
}

/deep/ .el-input__inner {
  border-radius: 0%;
}

.part1 {
  width: 1330px;
  margin: 0 auto;
}

.employeeNo {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal !important;
}

.name {
  font-size: 12px;
  color: #b4b4b4;
}

.material-detail-dialog {
  //display: flex;
  /deep/ .el-dialog {
    min-width: 800px;
  }

  &-form {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px 0 30px;

    /deep/ .el-form-item .el-form-item__content {
      margin-left: 10px !important;

      .el-input .el-input__inner {
        width: 200px;
      }
    }
  }
}
