@import "~styles/var.less";

.bomexamine {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.pass {
  float: right;
}

.el-pagination {
  float: left;
}

.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.el-table {
  height: 30px;
  padding: 0;
  font-size: 11px;
  margin: 0;
}

.container {
  border: 1px solid #eee;
}
