<template>
  <div class="view-full bomexamine">
    <el-container class="container">
      <el-aside width="200px">
        <el-row class="tac">
          <el-col>
            <el-menu
              :default-active="activeIndex"
              class="el-menu-vertical-demo"
              @select="getList"
            >
              <el-submenu index="1">
                <template slot="title">
                  <i class="el-icon-menu" />
                  <span>审核bom单</span>
                </template>
                <el-menu-item-group>
                  <el-menu-item index="未审核">
                    <i class="el-icon-document" />
                    <span slot="title">未审核</span>
                  </el-menu-item>
                  <el-menu-item index="审核通过">
                    <i class="el-icon-document" />
                    <span slot="title">已审核</span>
                  </el-menu-item>
                </el-menu-item-group>
              </el-submenu>
            </el-menu>
          </el-col>
        </el-row>
      </el-aside>
      <el-container>
        <el-main>
          <el-header v-if="state==='未审核'">
            <el-button
              @click="pass"
              type="primary"
              plain
            >
              通过
            </el-button>
          </el-header>
          <el-tabs type="border-card">
            <el-tab-pane :label="state">
              <template>
                <el-table
                  ref="table"
                  :cell-style="{padding:'0px 0'}"
                  :data="tableBodies"
                  :height="tableHeight"
                  border
                  @selection-change="getSelect"
                  @row-dblclick="rowClick"
                >
                  <el-table-column
                    type="selection"
                    width="55"
                    v-if="state==='未审核'"
                  />
                  <el-table-column
                    width="180px"
                    align="center"
                    v-for="(item,index) in tableHeaders"
                    :prop="item.key"
                    :label="item.label"
                    :key="index"
                  />
                </el-table>
                <div class="block">
                  <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="1"
                    :page-sizes="[10,20,30,40]"
                    :page-size="page.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="page.total"
                  />
                </div>
              </template>
            </el-tab-pane>
          </el-tabs>
        </el-main>
        <showbom ref="showbom" />
      </el-container>
    </el-container>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
