<template>
  <div class="view-full production">
    <el-container class="prodution-container">
      <el-aside
        width="200px"
        class="prodution-aside"
      >
        <el-menu
          :default-openeds="['1','2','3']"
          default-active="所有任务"
          @select="planHandleSelect"
        >
          <el-submenu index="1">
            <template slot="title"><i class="el-icon-menu" />生产加工</template>
            <el-menu-item-group>
              <el-menu-item
                v-for="(item,index) in planNavArr"
                :index="item"
                :key="index"
              >
                {{ item }}
              </el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <!-- <el-submenu index="2">
            <template slot="title">
              <i class="el-icon-menu"></i>
              生产分析
            </template>
            <el-menu-item-group>
              <el-menu-item>耗损分析</el-menu-item>
            </el-menu-item-group>
          </el-submenu> -->
          <el-submenu index="2">
            <!---->
            <template slot="title">
              <i class="el-icon-menu" />
              工序管理
            </template>
            <el-menu-item-group>
              <el-menu-item index="标准工序">标准工序</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </el-aside>
      <el-container>
        <el-main>
          <el-tabs
            type="border-card"
            v-if="selectPlanType!=='标准工序'"
          >
            <!--计划表格框-->
            <el-tab-pane label="任务信息">
              <!--计划上方按钮行-->
              <el-row class="production-row">
                <el-col :span="18">
                  <el-button
                    v-for="(button, index) in planButtonInfo"
                    :key="index"
                    :type="button.type"
                    @click="button.event"
                  >
                    {{ button.label }}
                  </el-button>
                </el-col>
                <el-col :span="6">
                  <el-autocomplete
                    v-model="searchPlanNo"
                    clearable
                    :fetch-suggestions="searchPlanAsync"
                    @select="searchPlanAsyncSelect"
                    placeholder="根据任务单号查询计划"
                    class="production-myAutocomplete"
                  />
                </el-col>
              </el-row>
              <CreatePlanDialog
                ref="createPlanDialog"
                :refresh="getPlans"
                :select-plan-type="selectPlanType"
                :plan-page-info="planPageInfo"
              />
              <ShowPlanDialog ref="showPlanDialog" />
              <BatchResultDialgo ref="batchResultDialog" />
              <DeletePlans
                ref="dialog"
                :refresh="getPlans"
                :select-plan-type="selectPlanType"
                :plan-page-info="planPageInfo"
              />
              <ModifyPlanDialog
                ref="modifyPlanDialog"
                @func="showlistTask"
              />
              <!--计划表格-->
              <el-table
                :data="planList"
                size="mini"
                class="production-table"
                highlight-current-row
                @current-change="selectPlan"
                @selection-change="selectPlans"
                min-height="250"
                max-height="400"
                v-loading="planListLoading"
              >
                <el-table-column
                  type="selection"
                  width="35"
                />
                <el-table-column
                  v-for="(item,index) in planTableFiled"
                  :key="index"
                  class="production-table-column"
                  :prop="item.key"
                  :label="item.label"
                />
                <el-table-column
                  fixed="right"
                  label="操作"
                  width="100px"
                >
                  <template slot-scope="scope">
                    <el-button
                      @click="openDialog('modifyPlanDialog',scope.row)"
                      type="text"
                      size="mini"
                    >
                      修改
                    </el-button>
                    <el-button
                      @click="openDialog('showPlanDialog',scope.row)"
                      type="text"
                      size="mini"
                    >
                      详情
                    </el-button>
                  </template>
                </el-table-column>
              </el-table>
              <!--表格分页-->
              <div class="block">
                <el-pagination
                  @size-change="planPageSizeChange"
                  @current-change="planPageCurrentChange"
                  :current-page="planPageInfo.current"
                  :page-sizes="[10, 20, 30, 40]"
                  :page-size="planPageInfo.pageSize"
                  layout="total, sizes, prev, pager, next, jumper"
                  :total="planPageInfo.total"
                  class="production-pagination"
                />
              </div>
            </el-tab-pane>
          </el-tabs>

          <!--任务表格框-->
          <el-divider v-if="selectPlanType!=='标准工序'">工序信息</el-divider>
          <el-tabs
            type="border-card"
            v-if="selectPlanType!=='标准工序'"
          >
            <el-tab-pane label="工序信息">
              <!--任务上方按钮行-->
              <el-row class="production-row">
                <el-button
                  type="primary"
                  plain
                  @click="openDialog('createTaskDialog')"
                >
                  新增工序
                </el-button>
                <el-button
                  type="success"
                  plain
                  @click="startTask"
                >
                  启动工序
                </el-button>
                <el-button
                  type="danger"
                  plain
                  @click="cancelTask"
                >
                  撤销工序
                </el-button>
                <el-button
                  type="warning"
                  plain
                  @click="deleteTask"
                >
                  删除工序
                </el-button>
                <el-button
                  type="primary"
                  plain
                  @click="pauseTask"
                >
                  暂停工序
                </el-button>
                <el-button
                  type="success"
                  plain
                  @click="accomplishTask"
                >
                  完成工序
                </el-button>
                <el-button
                  type="danger"
                  plain
                  @click="outStock"
                >
                  快速领出
                </el-button>
              </el-row>
              <CreateTaskDialog
                ref="createTaskDialog"
                @func="getTask"
              />
              <ModifyTaskDialog
                ref="modifyTaskDialog"
                @func="getTask"
              />
              <ShowTaskDialgo ref="showTaskDialog" />
              <!--任务表格-->
              <el-table
                :data="taskList"
                size="mini"
                class="production-table"
                min-height="250"
                max-height="400"
                v-loading="taskListLoading"
                @selection-change="selectTask"
              >
                <el-table-column
                  type="selection"
                  width="35"
                />
                <el-table-column
                  v-for="(item,index) in taskTableFiled"
                  :key="index"
                  :prop="item.key"
                  :label="item.label"
                />
                <el-table-column
                  fixed="right"
                  label="操作"
                  width="110px"
                >
                  <template slot-scope="scope">
                    <el-button
                      @click="openModify('modifyTaskDialog',scope.row)"
                      type="text"
                      size="mini"
                    >
                      修改
                    </el-button>
                    <el-button
                      @click="openModify('showTaskDialog',scope.row)"
                      type="text"
                      size="mini"
                    >
                      详情
                    </el-button>
                  </template>
                </el-table-column>
              </el-table>
              <div class="block">
                <el-pagination
                  @size-change="taskPageSizeChange"
                  @current-change="taskPageCurrentChange"
                  :current-page="taskPageInfo.current"
                  :page-sizes="[10, 20, 30, 40]"
                  :page-size="taskPageInfo.pageSize"
                  layout="total, sizes, prev, pager, next, jumper"
                  :total="taskPageInfo.total"
                  class="production-pagination"
                />
              </div>
            </el-tab-pane>
            <el-tab-pane label="成品信息">
              <!-- finishProductMessage -->
              <el-table
                :data="finishProduct.bodies"
                size="mini"
                class="production-table"
                min-height="250"
                max-height="400"
              >
                <el-table-column
                  v-for="(item,index) in finishProduct.headers"
                  :key="index"
                  :prop="item.key"
                  :label="item.label"
                />
              </el-table>
            </el-tab-pane>
            <el-tab-pane label="半成品">
              <el-table
                :data="semiFinished.bodies"
                size="mini"
                class="production-table"
                min-height="250"
                max-height="400"
              >
                <el-table-column
                  v-for="(item,index) in semiFinished.headers"
                  :key="index"
                  :prop="item.key"
                  :label="item.label"
                />
              </el-table>
            </el-tab-pane>
            <el-tab-pane label="原料信息">
              <el-table
                :data="rawMaterial.bodies"
                size="mini"
                class="production-table"
                min-height="250"
                max-height="400"
              >
                <el-table-column
                  v-for="(item,index) in rawMaterial.headers"
                  :key="index"
                  :prop="item.key"
                  :label="item.label"
                />
              </el-table>
            </el-tab-pane>
            <el-tab-pane label="出入库明细">出入库明细</el-tab-pane>
          </el-tabs>
          <!-- 工序管理 -->
          <el-tabs
            type="border-card"
            v-if="selectPlanType==='标准工序'"
          >
            <el-tab-pane label="标准工序">
              <!--任务上方按钮行-->
              <el-row class="production-row">
                <el-button
                  type="primary"
                  plain
                  @click="openDialog('CreatePublicTaskDialog')"
                >
                  创建工序
                </el-button>
              </el-row>
              <el-table
                :data="taskManageTable.bodies"
                size="mini"
                class="production-table"
                min-height="250"
                max-height="400"
              >
                <el-table-column
                  type="selection"
                  width="35"
                />
                <el-table-column
                  v-for="(item,index) in taskManageTable.headers"
                  :key="index"
                  :prop="item.key"
                  :label="item.label"
                />
                <el-table-column
                  fixed="right"
                  label="操作"
                  width="100px"
                >
                  <template slot-scope="scope">
                    <!---->
                    <el-button
                      @click="$refs['ModifyPublicTaskDialog'].toggle(scope.row);"
                      type="text"
                      size="mini"
                    >
                      修改
                    </el-button>
                    <!---->
                    <el-button
                      @click="deletePublicTask(scope.row)"
                      type="text"
                      size="mini"
                    >
                      删除
                    </el-button>
                  </template>
                </el-table-column>
              </el-table>
              <div class="block">
                <el-pagination
                  @size-change="publicTasknPageSizeChange"
                  @current-change="publicTasknPageCurrentChange"
                  :current-page="publicTasknPageInfo.current"
                  :page-sizes="[10, 20, 30, 40]"
                  :page-size="publicTasknPageInfo.pageSize"
                  layout="total, sizes, prev, pager, next, jumper"
                  :total="publicTasknPageInfo.total"
                  v-loading="publicTaskListLoading"
                />
              </div>
            </el-tab-pane>
            <CreatePublicTaskDialog
              ref="CreatePublicTaskDialog"
              @func="showlistTask"
            />
            <ModifyPublicTaskDialog
              ref="ModifyPublicTaskDialog"
              @func="showlistTask"
            />
          </el-tabs>
        </el-main>
        <DeletePlans
          ref="dialog"
          :refresh="getPlans"
          :select-plan-type="selectPlanType"
          :plan-page-info="planPageInfo"
        />
        <ModifyPlanDialog
          ref="modifyPlanDialog"
          @func="showlistTask"
        />
      </el-container>
    </el-container>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
