<template>
  <div class="view-full batchResultDialog">
    <el-dialog 
      title="批处理结果" 
      :visible.sync="dialogFormVisible"
    >
      <el-table 
        :data="results"
      >
        <el-table-column 
          prop="编号" 
          label="编号"
        />
        <el-table-column 
          prop="结果" 
          label="结果"
        >
          <template slot-scope="scope">
            <div 
              slot="reference" 
              class="name-wrapper"
            >
              <el-tag
                :type="scope.row['结果'] === '成功' ? 'success' : 'danger'"
                disable-transitions
              >
                {{ scope.row['结果'] }}
              </el-tag>
            </div>
          </template>
        </el-table-column>
        <el-table-column 
          prop="消息" 
          label="消息" 
        />
      </el-table>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
