<template>
  <div id="reportForm">
    <el-container>
      <el-aside width="auto">
        <!-- 侧边BOM树形和表单 -->
        <!-- 左上角树形 -->
        <el-tabs
          type="border-card"
          stretch
        >
          <!-- 树形图 -->
          <el-tab-pane label="BOM组">
            <el-tree
              style="width: 200px;"
              :data="treeData"
              :props="defaultProps"
              node-key="bomTypeId"
              highlight-current
              default-expand-all
              :expand-on-click-node="false"
              @node-click="handleNodeClick"
              @node-contextmenu="rightHandleNodeContextMenu"
            />
          </el-tab-pane>
        </el-tabs>
        <!-- 右击菜单 -->
        <div v-show="menuVisible">
          <el-menu
            id="menu"
            class="menu"
          >
            <el-menu-item
              index="1"
              class="menuItem"
            >
              <span
                slot="title"
                @click="openDialog('addBomTypeDialog');"
              >
                <i class="el-icon-message" />添加
              </span>
            </el-menu-item>
            <el-menu-item
              index="2"
              class="menuItem"
            >
              <span
                slot="title"
                @click="openDialog('delBomTypeDialog')"
              >
                <i class="el-icon-message" />删除
              </span>
            </el-menu-item>
            <el-menu-item
              index="3"
              class="menuItem"
            >
              <span
                slot="title"
                @click="openDialog('updBomTypeDialog')"
              >
                <i class="el-icon-message" />修改
              </span>
            </el-menu-item>
          </el-menu>
        </div>
      </el-aside>   
      <el-container>
        <el-main style="top: 0; margin: 0; padding: 0; padding-left: 5px; width: 100%;">
          <!-- BOM表 -->
          <div
            id="right"
            style="width: 100%;"
          >
            <el-tabs
              type="border-card"
              top="0px"
            >
              <el-tab-pane label="BOM表">
                <el-table
                  :data="BOMSimpleData"
                  border
                  size="mini"
                  style="width: 100%; margin-top: 10px;"
                  highlight-current-row
                  max-height="500px"
                  @row-dblclick="showBom"
                  @row-click="clickSelectBom"
                  v-loading="BOMDataLoading"
                >
                  <el-table-column
                    v-for="(item,index) in BOMSimpleField"
                    :key="index"
                    style="text-align: center;"
                    :prop="item.key"
                    :label="item.label"
                    :width="item.width"
                  />
                </el-table>
              </el-tab-pane>
              <!-- 增加BOM -->
              <el-tab-pane disabled>
                <span slot="label">
                  <el-button
                    size="mini"
                    plain
                    @click="addBomDialog('addBomDialog')"
                  >添加BOM</el-button>
                  <el-button
                    size="mini"
                    plain
                    @click="deleteBom"
                  >删除BOM</el-button>
                  <el-button
                    size="mini"
                    plain
                    @click="updBomDialog('updBomDialog')"
                  >修改BOM</el-button>
                </span>
              </el-tab-pane>
              <el-tab-pane disabled>
                <span slot="label">
                  <el-autocomplete
                    suffix-icon="el-icon-search"
                    v-model="state"
                    :fetch-suggestions="querySearchAsync"
                    size="mini"
                    placeholder="输入物料名称或物料代码"
                    @input="handleSelect"
                    value-key="materialName"
                  >
                    <template slot-scope="{ item }">
                      <div class="materialName">{{ item.materialName }}</div>
                      <span class="materialCode">{{ item.materialCode }}</span>
                    </template>
                  </el-autocomplete>
                </span>
              </el-tab-pane>            
              <div class="block">
                <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :current-page="page.currentPage"
                  :page-sizes="[10, 20, 30, 40]"
                  :page-size="page.pageSize"
                  layout="total, sizes, prev, pager, next, jumper"
                  :total="page.total"
                />
              </div>
            </el-tabs>
          </div>
        </el-main>
        <AddBomDialog
          ref="addBomDialog" 
          @func="getBOMData(leftSelectType.bomTypeId);"
        />
        <UpdBomDialog
          ref="updBomDialog"
          @func="getBOMData(leftSelectType.bomTypeId);"
        />
        <ShowBomDialog
          ref="showBomDialog"
        />
        <AddBomTypeDialog 
          :get-tree-data="getTreeData"
          ref="addBomTypeDialog"
        />
        <DelBomTypeDialog 
          :get-tree-data="getTreeData"
          ref="delBomTypeDialog"
        />
        <UpdBomTypeDialog
          :get-tree-data="getTreeData" 
          ref="updBomTypeDialog"
        />
      </el-container>
    </el-container>
  </div> 
</template>
<script src="./index.js"></script>
<style lang="less" src="./index.less" scoped></style>