<template>
  <div class="view-full showPlanDialog">
    <el-dialog 
      title="任务详情" 
      :visible.sync="dialogFormVisible" 
      width="90%"
    >
      <el-form 
        :model="createForm" 
        :inline="true" 
        :rules="createFormRule" 
        :ref="createFormRef"
      >
        <el-form-item 
          label="关联单号" 
          class="showPlanDialog-formitem" 
          prop="linkedOrder"
        >
          <el-input 
            class="showPlanDialog-formitem-body" 
            v-model="createForm.linkedOrder" 
            placeholder="请输入生产单号"
            :disabled="true"
          />
        </el-form-item>
        <el-form-item 
          label="要求完工日期" 
          class="showPlanDialog-formitem" 
          prop="closingDate"
        >
          <div class="block">
            <el-date-picker 
              class="showPlanDialog-datePicker"
              v-model="createForm.closingDate" 
              type="date"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期"
              :disabled="true"
            />
          </div>
        </el-form-item>
        <el-form-item 
          label="客户简称" 
          class="showPlanDialog-formitem" 
          prop="customerName"
        >
          <el-autocomplete  
            popper-class="showPlanDialog-myAutocomplete" 
            v-model="createForm.customerName"
            value-key="customerName"
            placeholder="请输入客户简称"
            :disabled="true"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.customerCode }}</div>
              <span class="name">{{ item.customerName }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item 
          label="负责人" 
          class="showPlanDialog-formitem" 
          prop="principalEmployeeNo"
        >
          <el-autocomplete 
            popper-class="showPlanDialog-myAutocomplete" 
            v-model="createForm.principalEmployeeNo"
            value-key="employeeNo"
            placeholder="请输入任务负责人"
            :disabled="true"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item 
          label="紧急程度" 
          class="showPlanDialog-formitem" 
          prop="emergencyLevel"
        >
          <el-select 
            class="showPlanDialog-formitem-body" 
            v-model="createForm.emergencyLevel" 
            placeholder="请选择"
            :disabled="true"
          >
            <el-option 
              v-for="item in degree" 
              :key="item.value" 
              :label="item.label" 
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item 
          label="状况" 
          class="showPlanDialog-formitem" 
          prop="status"
        >
          <el-select 
            class="showPlanDialog-select" 
            v-model="createForm.status" 
            placeholder="请选择"
            :disabled="true"
          >
            <el-option 
              v-for="item in status" 
              :key="item.value" 
              :label="item.label" 
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item 
          label="审核人" 
          class="showPlanDialog-formitem" 
          prop="approvedEmployeeNo"
        >
          <el-autocomplete 
            popper-class="showPlanDialog-myAutocomplete" 
            v-model="createForm.approvedEmployeeNo"
            value-key="employeeNo"
            placeholder="请输入任务负责人"
            :disabled="true"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>

        <el-form-item 
          label="来源" 
          class="showPlanDialog-formitem" 
          prop="source"
        >
          <el-input 
            v-model="createForm.source" 
            autocomplete="off"
            :disabled="true"
          />
        </el-form-item>

        <el-form-item 
          label="备注" 
          class="showPlanDialog-remark" 
          prop="remarks"
        >
          <el-input 
            class="showPlanDialog-remark-input" 
            v-model="createForm.remarks" 
            placeholder="请输入备注" 
            size=""
            :disabled="true"
          />
        </el-form-item>
      </el-form>
      <!--成品-->
      <el-tabs type="border-card">
        <el-tab-pane label="成品">
          <el-table 
            :data="planProduction"
            class="showPlanDialog-table"
            stripe 
            border
            min-height="250"
            max-height="300"
          >
            <el-table-column 
              type="selection" 
              width="35"
            />
            <el-table-column 
              v-for="(item,index) in materialTabHeader" 
              :key="index"
              class="showPlanDialog-table-column"
              :prop="item.key"
              :label="item.label"
            >
              <template slot-scope="scope">
                <span>{{ scope.row[item.key] }}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>

      <!--原料-->
      <el-tabs type="border-card">
        <el-tab-pane label="原料">
          <el-table 
            :data="planMaterial"
            class="showPlanDialog-table"
            stripe 
            border
            min-height="250"
            max-height="300"
          >
            <el-table-column 
              type="selection" 
              width="35"
            />
            <el-table-column 
              v-for="(item,index) in materialTabHeader" 
              :key="index"
              class="showPlanDialog-table-column"
              :prop="item.key"
              :label="item.label"
            >
              <template slot-scope="scope">
                <span>{{ scope.row[item.key] }}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
      <div 
        slot="footer" 
        class="dialog-footer"
      >
        <el-button 
          @click="dialogFormVisible=false,reset(createFormRef)"
        >
          关闭
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
