@import "~styles/var.less";
@import "~styles/flex.less";

.home {
  .home-cont {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .home-route {
    flex: 1;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
