<template>
  <div class="home view-full flex-column">
    <home-header />
    <!-- <button @click="addTab('materiel-page');"></button> -->
    <home-top-menu :tab-active="tabActive" />
    <div class="home-cont">
      <!--      <home-left-menu />-->
      <div class="home-route">
        <!--        <bread-crumb v-if="show" />-->
        <!--        <transition name="slide-right">-->
        <!--          <router-view />-->
        <!--        </transition>-->

        <el-tabs
          v-model="tabActiveName"
          type="card"
          @tab-click="clickTab"
          @tab-remove="removeTab"
        >
          <el-tab-pane
            :label="tabFirstLabel"
            index="default"
            name="default"
          >
            <div>
              <el-container>
                <home-left-menu
                  v-if="leftMenuList.length && leftMenuList[0].children"
                  :menu-list="leftMenuList"
                />
                <el-container>
                  <router-view
                    :add-tab="addTab"
                    style="margin: 20px;"
                  />
                </el-container>
              </el-container>
            </div>
          </el-tab-pane>
          <el-tab-pane
            v-for="(item,index) in tabList"
            :key="index"
            :index="item.index"
            :label="item.describe"
            :name="String(index)"
            closable
          >
            <keep-alive>
              <component
                :is="tabList[index].name"
                :add-tab="addTab"
              />
            </keep-alive>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
