<template>
  <div class="showbom">
    <el-dialog
      title="BOM详情"
      :visible.sync="dialogFormVisible"
      width="900px"
    >
      <el-tabs type="border-card">
        <el-tab-pane label="BOM表详情">
          <!-- BOM单表单内容 -->
          <el-table
            :data="BOMFormList"
            size="mini"
            max-height="200px"
            highlight-current-row
            stripe
            border
            v-loading="BOMFormListLoading"
          >
            <el-table-column
              v-for="(item,index) in BOMFormFiled"
              :key="index"
              :style="center"
              :prop="item.key"
              :label="item.label"
            />
          </el-table>
        </el-tab-pane> 
      </el-tabs>
      <!-- BOM表格 -->
      <el-card>
        <!-- BOM单表格内容 -->
        <el-table
          :data="BOMTableList"
          size="mini"
          highlight-current-row
          stripe
          border
          max-height="500px"
          v-loading="BOMTableListLoading"
        >
          <el-table-column
            v-for="(item,index) in BOMTableFiled"
            :key="index"
            :prop="item.key"
            :label="item.label"
          />
        </el-table>
      </el-card>
    </el-dialog>
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
