@import "~styles/var.less";

.home-menu {
  border-right: 1px solid #e6e6e6;
  width: 220px;
  align-items: center;
  flex-shrink: 0;

  &-item {
    cursor: pointer;

    & span:hover {
      color: @link-color;
    }
  }
}
