<template>
  <el-menu
    class="home-menu"
    text-color="#000"
    :default-active="defaultActive"
    router
  >
    <el-submenu
      v-for="(item,index) in this.$props.menuList"
      :key="index"
      :index="item.index"
    >
      <template slot="title"><i class="el-icon-menu" />{{ item.name }}</template>
      <el-menu-item-group>
        <el-menu-item
          v-for="(item_,index_) in item.children"
          :key="index_"
          :index="item_.index"
        >
          <!--              <i class="el-icon-caret-right"></i>-->
          {{ item_.name }}
        </el-menu-item>
      </el-menu-item-group>
    </el-submenu>
  </el-menu>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
