@import "~styles/var.less";

.searchProductionDialog {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  &-materialCode {
    font-size: 12px;
    color: #b4b4b4;
  }

  &-materialName {
    white-space: normal;
    font-size: 13px;
    line-height: 17px;
  }
}
