@import "~styles/var.less";

.showoutstocksale {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1 {
  text-align: center;
}

.box1 {
  width: 300px;
  margin-left: 16px;
}

.box2 {
  width: 180px;
}

.box3 {
  display: block;
  text-align: center;
}

.box3 button {
  width: 100px;
}

.part1 {
  width: 999px;
  margin: 0 auto;
}

.employeeNo {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal !important;
}

.name {
  font-size: 12px;
  color: #b4b4b4;
}

.documentdate {
  width: 180px;
}

.anniu {
  float: right;
}

.biaoge {
  width: 100%;
}

.eldatepicker {
  width: 180px;
}

.duihuakuang {
  margin: 15px 0;
}
