<template>
  <div class="view-full employee-role">
    <div style="float: left;">
      <el-autocomplete
        v-model="state"
        :fetch-suggestions="querySearchAsync"
        placeholder="输入搜索内容"
        @select="handleSelect"
        value-key="name"
      >
        <template slot-scope="{ item }">
          <div class="warehouseName">{{ item.name }}</div>
          <span class="warehouseCode">{{ item.id }}</span>
        </template>
      </el-autocomplete>

      <el-button>搜索</el-button>
      <el-button
        type="primary"
        @click="openDialog('addEmployee',0)"
      >
        新增员工
      </el-button>
      <el-button type="primary">批量导入员工</el-button>
    </div>
    <el-table
      v-loading="loading"
      :data="tableData"
      style="width: 100%;"
    >
      <el-table-column
        v-for="(item,index) in tableHead"
        :key="index"
        :prop="item.props"
        :label="item.describe"
      />
      <el-table-column
        label="账户状态"
      >
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.status"
            @change="handleClick(scope.row,scope.row.status)"
            active-color="#13ce66"
            inactive-color="#ff4949"
            :active-value="false"
            :inactive-value="true"
          />
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
        width="300"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="openEditDialog(scope.row)"
            type="primary"
          >
            编辑
          </el-button>
          <el-button
            size="mini"
            type="warning"
            @click="openDialog('roleAssignment',scope.row)"
          >
            角色分配
          </el-button>
          <el-button
            size="mini"
            type="danger"
            @click="openDeleteDialog( scope.row)"
          >
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div
      class="block"
      style="float: left;"
    >
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page.currentPage"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="page.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.total"
      />
    </div>
    <AddEmployee ref="addEmployee" />
    <EditEmployee ref="editEmployee" />
    <RoleAssignment ref="roleAssignment" />
    <DeleteDepartment ref="deleteDepartment" />
  </div>
</template>
<style lang="less" src="./index.less" scoped></style>
<script src="./index.js"></script>
