<template>
  <el-dialog
    title="编辑仓库信息"
    :visible.sync="dialogVisible"
    width="50%"
  >
    <div class="content">
      <el-form
        :model="stockRoomForm"
        :rules="stockRoomFormRules"
        label-width="200px"
        ref="stockRoomFormRef"
        :inline="true"
        size="mini"
      >
        <el-form-item
          v-for="(item, index) in templateData"
          :key="index"
          :label="item.label"
          :prop="item.model"
        >
          <div
            style="width: 180px;"
            :type="item.components.type || ''"
            :is="item.components.name"
            v-model="stockRoomForm[item.model]"
            :disabled="item.components.disabled"
          >
            <el-option
              v-show="templateData[index].components.op"
              v-for="item1 in templateData[index].components.option"
              :key="item1.value"
              :label="item1.label"
              :value="item1.value"
            />
          </div>
        </el-form-item>
        <el-form-item label="仓库管理员">
          <el-autocomplete
            style="width: 180px;"
            popper-class="my-autocomplete"
            v-model="stockRoomForm['administratorEmployeeNo']"
            :fetch-suggestions="querySearchAsync"
            value-key="employeeNo"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
      </el-form>
    </div>
    <span
      slot="footer"
      class="dialog-footer"
    >
      <el-button @click="dialogVisible = false">取 消</el-button>
      <el-button
        type="primary"
        @click="editStockroom"
      >确 定</el-button>
    </span>
  </el-dialog>
</template>
<style lang="less" src="./index.less" scoped ></style>
<script src="./index.js"></script>
