<template>
  <div id="InStockPurchase">
    <!--表单区域-->
    <h1>采购入库</h1>
    <el-form
      :model="ruleForm"
      label-width="100px"
      :rules="rules"
      size="mini"
      :inline="true"
      ref="ruleForm"
    >
      <div class="part1">
        <el-form-item
          class="box1"
          label="单据类型:"
          prop="documentType"
        >
          <el-select
            class="box2"
            v-model="ruleForm.documentType"
            :disabled="true"
          >
            <el-option
              label="采购入库"
              value="采购入库"
            />
            <el-option
              label="产品入库"
              value="产品入库"
            />
            <el-option
              label="盘盈入库"
              value="盘盈入库"
            />
            <el-option
              label="其他入库"
              value="其他入库"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          class="box1"
          label="编号:"
          prop="documentNo"
        >
          <el-input
            class="box2"
            v-model="ruleForm.documentNo"
            maxlength:100px
            :disabled="true"
          />
        </el-form-item>
        <el-form-item
          class="box1"
          label="审核标志:"
          prop="allow"
        >
          <el-select
            class="box2"
            v-model="ruleForm.allow"
            :disabled="true"
          >
            <el-option
              label="未审核"
              value="false"
            />
            <el-option
              label="已审核"
              value="true"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          class="box1"
          label="日期:"
          prop="documentDate"
        >
          <div class="block">
            <el-date-picker
              style="width: 180px;"
              v-model="ruleForm.documentDate"
              type="date"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期"
            />
          </div>
        </el-form-item>
        <el-form-item
          class="box1"
          label="供应商:"
          prop="supplier"
        >
          <el-autocomplete
            class="box2"
            clearable
            :fetch-suggestions="searchSupplierAsync"
            placeholder="请输入供应商"
            v-model="ruleForm.supplier"
            value-key="supplierName"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.supplierCode }}</div>
              <span class="name">{{ item.supplierName }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="红蓝单:"
          prop="redSheet"
        >
          <el-select
            class="box2"
            v-model="ruleForm.redSheet"
            placeholder="请选择红蓝单"
          >
            <el-option
              label="红单"
              value="true"
            />
            <el-option
              label="蓝单"
              value="false"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          class="box1"
          label="采购方式:"
          prop="procureMethod "
        >
          <el-select
            class="box2"
            v-model="ruleForm.procureMethod"
            placeholder="请选择采购方式"
          >
            <el-option
              label="赊购"
              value="赊购"
            />
            <el-option
              label="现购"
              value="现购"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          class="box1"
          label="送货司机:"
          prop="deliveryDriver"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入送货司机"
            :fetch-suggestions="searchCourierAsync"
            v-model="ruleForm.deliveryDriver"
            value-key="courierName"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.courierName }}</div>
              <span class="name">{{ item.courierCode }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="品质检查人:"
          prop="qualityEmployee"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入品质检查人"
            :fetch-suggestions="querySearchAsync"
            v-model="ruleForm.qualityEmployee"
            value-key="name"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="摘要:"
          prop="digest"
        >
          <el-input
            class="box2"
            v-model="ruleForm.digest"
            maxlength:100px
          />
        </el-form-item>
      </div>
      <br>
      <!--表格区域-->
      <el-button
        size="mini"
        @click="openDetailFormDialog()"
        style="float: right;"
      >
        增行
      </el-button>
      <el-button
        size="mini"
        @click="dialogFormVisible = true"
        style="float: right;"
      >
        表格设置
      </el-button>
      <el-table
        :data="ruleForm.materialsDetail"
        style="width: 100%;"
        border
        max-height="300"
        :cell-style="{ padding: '0px' }"
      >
        <el-table-column
          v-for="(items,index) in tempCols"
          :fixed="items.fixed"
          :key="index"
          :prop="items.prop"
          :label="items.label"
          :type="items.type"
          :width="items.width ? items.width:'180px'"
          align="center"
        >
          <!-- <template slot-scope="scope">
            <template v-if="items.prop == 'materialName'">
              <el-autocomplete
                clearable
                :fetch-suggestions="searchMaterialAsync"
                v-model="scope.row[items.prop]"
                value-key="materialName"
                @select="
                  (item) => {
                    handleSelect(item, scope.row);
                  }
                "
              >
                <template slot-scope="{ item }">
                  <div class="employeeNo">{{ item.materialCode }}</div>
                  <span class="name">{{ item.materialName }}</span>
                </template>
              </el-autocomplete>
            </template>
            <template v-else-if="items.prop == 'warehouseName'">
              <el-autocomplete
                clearable
                :fetch-suggestions="searchWarehouseNameAsync"
                v-model="scope.row[items.prop]"
                value-key="warehouseName"
              >
                <template slot-scope="{ item }">
                  <div class="employeeNo">{{ item.warehouseCode }}</div>
                  <span class="name">{{ item.warehouseName }}</span>
                </template>
              </el-autocomplete>
            </template>
            <template v-else-if="items.prop == 'unit'">
              <el-autocomplete
                clearable
                :fetch-suggestions="searchUnitAsync"
                v-model="scope.row[items.prop]"
                value-key="unitName"
              >
                <template slot-scope="{ item }">
                  <div class="employeeNo">{{ item.unitCode }}</div>
                  <span class="name">{{ item.unitName }}</span>
                </template>
              </el-autocomplete>
            </template>
            <template
              v-else-if="
                items.prop == 'productionDate' ||
                  items.prop == 'expiryDate' ||
                  items.prop == 'expiryDate' ||
                  items.prop == 'purchaseDate'
              "
            >
              <el-date-picker
                v-model="scope.row[items.prop]"
                type="date"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 200px;"
                placeholder="选择日期"
              />
            </template>
            <template v-else>
              <el-input v-model="scope.row[items.prop]" />
            </template>
          </template> -->
        </el-table-column>
        <el-table-column
          fixed="right"
          label="操作"
          width="140px"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="primary"
              size="mini"
              @click="openDetailFormDialog(scope)"
            >
              编辑
            </el-button>
            <el-button
              @click.native.prevent="
                deleteRow(scope.$index, ruleForm.materialsDetail)
              "
              type="danger"
              size="mini"
            >
              删行
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <!--   添加/编辑物料表单   -->
      <el-dialog
        title="添加/编辑物料"
        :visible.sync="DialogDetailFormVisible"
        class="material-detail-dialog"
      >
        <el-form
          :model="dialogDetailForm"
          :rules="rules"
          ref="dialogDetailForm"
          class="material-detail-dialog-form"
          label-width="120px"
        >
          <el-form-item
            label="物料名称"
            prop="materialName"
          >
            <el-autocomplete
              placeholder="请输入物料名称"
              v-model="dialogDetailForm.materialName"
              :fetch-suggestions="searchMaterialAsync"
              value-key="materialName"
              @select="(item) => {handleSelect(item)}"
              clearable
            >
              <template slot-scope="{ item }">
                <div class="employeeNo">{{ item.materialCode }}</div>
                <span class="name">{{ item.materialName }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            label="规格型号"
            prop="materialSap"
          >
            <el-input
              placeholder="请输入规格型号"
              v-model="dialogDetailForm.materialSap"
            />
          </el-form-item>

          <el-form-item
            label="仓库名称"
            prop="warehouseName"
          >
            <el-autocomplete
              placeholder="请输入仓库名称"
              v-model="dialogDetailForm.warehouseName"
              :fetch-suggestions="searchWarehouseNameAsync"
              value-key="warehouseName"
              clearable
            >
              <template slot-scope="{ item }">
                <div class="employeeNo">{{ item.warehouseCode }}</div>
                <span class="name">{{ item.warehouseName }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            label="批号"
            prop="batchNumber"
          >
            <el-input
              placeholder="请输入批号"
              v-model="dialogDetailForm.batchNumber"
              value-key="batchNumber"
            />
          </el-form-item>

          <el-form-item
            label="单位"
            prop="unit"
          >
            <el-autocomplete
              placeholder="请输入单位"
              v-model="dialogDetailForm.unit"
              :fetch-suggestions="searchUnitAsync"
              value-key="unitName"
            >
              <template slot-scope="{ item }">
                <div class="employeeNo">{{ item.unitCode }}</div>
                <span class="name">{{ item.unitName }}</span>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            label="单价"
            prop="unitPrice"
          >
            <el-input
              placeholder="请输入单价"
              v-model="dialogDetailForm.unitPrice"
              value-key="unitPrice"
            />
          </el-form-item>

          <el-form-item
            label="实收数量"
            prop="receivedNum"
          >
            <el-input
              placeholder="请输入实收数量"
              v-model="dialogDetailForm.receivedNum"
              value-key="receivedNum"
            />
          </el-form-item>
          <el-form-item
            label="金额"
            prop="amountMoney"
          >
            <el-input
              placeholder="请输入金额"
              v-model="dialogDetailForm.amountMoney"
              value-key="amountMoney"
            />
          </el-form-item>

          <el-form-item
            label="备注"
            prop="remark"
          >
            <el-input
              placeholder="请输入备注"
              v-model="dialogDetailForm.remark"
              value-key="remark"
            />
          </el-form-item>
          <el-form-item
            label="生产日期"
            prop="productionDate"
          >
            <el-date-picker
              v-model="dialogDetailForm.productionDate"
              type="date"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期"
              style="width: 85%;"
            />
          </el-form-item>
          <el-form-item
            label="采购日期"
            prop="purchaseDate"
          >
            <el-date-picker
              v-model="dialogDetailForm.purchaseDate"
              type="date"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期"
              style="width: 85%;"
            />
          </el-form-item>
          <el-form-item
            label="保质期（天）"
            prop="materialExpirationDate"
          >
            <el-input
              placeholder="请输入保质期（天）"
              v-model="dialogDetailForm.materialExpirationDate"
              value-key="materialExpirationDate"
            />
          </el-form-item>
          <el-form-item
            label="有效期到"
            prop="expiryDate"
          >
            <el-date-picker
              v-model="dialogDetailForm.expiryDate"
              type="date"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期"
              style="width: 85%;"
            />
          </el-form-item>
          <el-form-item
            label="单箱数"
            prop="singleContainerNumber"
          >
            <el-input
              placeholder="请输入单箱数"
              v-model="dialogDetailForm.singleContainerNumber"
              value-key="singleContainerNumber"
            />
          </el-form-item>
          <el-form-item
            label="箱数"
            prop="containerNumber"
          >
            <el-input
              placeholder="请输入箱数"
              v-model="dialogDetailForm.containerNumber"
              value-key="containerNumber"
            />
          </el-form-item>
        </el-form>
        <div
          slot="footer"
          class="dialog-footer"
        >
          <el-button @click="closeDetailFormDialog()">取 消</el-button>
          <el-button
            type="primary"
            @click="handleSaveDetailForm()"
          >
            确 定
          </el-button>
        </div>
      </el-dialog>
      <br>
      <!--字段选择对话框-->
      <el-dialog
        title="选择需要的字段"
        :visible.sync="dialogFormVisible"
        width="40%"
        center
        top="15vh"
      >
        <el-checkbox
          :indeterminate="isIndeterminate"
          v-model="checkAll"
          @change="handleCheckAllChange"
        >
          全选
        </el-checkbox>
        <div style="margin: 15px 0;" />
        <el-checkbox-group
          v-model="checkedCities"
          @change="handleCheckedCitiesChange"
        >
          <el-checkbox
            v-for="item in columns"
            :label="item.prop"
            :key="item.prop"
          >
            {{ item.label }}
          </el-checkbox>
        </el-checkbox-group>
        <div
          slot="footer"
          class="dialog-footer"
        >
          <el-button
            @click="dialogFormVisible = false"
            size="medium"
          >
            取 消
          </el-button>
          <el-button
            type="primary"
            @click="confirmShow"
            size="medium"
          >
            确定
          </el-button>
        </div>
      </el-dialog>
      <!--表单区域-->
      <div class="part1">
        <el-form-item
          class="box1"
          label="部门:"
          prop="department"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入部门"
            :fetch-suggestions="searchDepartmentAsync"
            v-model="ruleForm.department"
            value-key="name"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.name }}</div>
              <span class="name">{{ item.code }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="主管:"
          prop="manager"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入主管"
            :fetch-suggestions="querySearchAsync"
            v-model="ruleForm.manager"
            value-key="name"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="验收人:"
          prop="checkEmployee"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入验收人"
            :fetch-suggestions="querySearchAsync"
            v-model="ruleForm.checkEmployee"
            value-key="name"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="制单人:"
          prop="documentCreator"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入制单人"
            :fetch-suggestions="querySearchAsync"
            v-model="ruleForm.documentCreator"
            value-key="name"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="经办人:"
          prop="handingEmployee"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入经办人"
            :fetch-suggestions="querySearchAsync"
            v-model="ruleForm.handingEmployee"
            value-key="name"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="批准人:"
          prop="approvalEmployee"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入批准人"
            :fetch-suggestions="querySearchAsync"
            v-model="ruleForm.approvalEmployee"
            value-key="name"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="保管人:"
          prop="safekeepEmployee"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入保管人"
            :fetch-suggestions="querySearchAsync"
            v-model="ruleForm.safekeepEmployee"
            value-key="name"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="审核人:"
          prop="examineEmployee"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入审核人"
            :fetch-suggestions="querySearchAsync"
            v-model="ruleForm.examineEmployee"
            :disabled="true"
            value-key="name"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item
          class="box1"
          label="业务员:"
          prop="salesman"
        >
          <el-autocomplete
            class="box2"
            clearable
            placeholder="请输入业务员"
            :fetch-suggestions="querySearchAsync"
            v-model="ruleForm.salesman"
            value-key="name"
          >
            <template slot-scope="{ item }">
              <div class="employeeNo">{{ item.employeeNo }}</div>
              <span class="name">{{ item.name }}</span>
            </template>
          </el-autocomplete>
        </el-form-item>
      </div>
      <br>
    </el-form>
    <div class="box3">
      <el-button
        type="primary"
        size="small"
        @click="onSumit('ruleForm')"
      >
        提交
      </el-button>
    </div>
  </div>
</template>
<script src="./index.js"></script>
<style lang="less" src="./index.less" scoped></style>
